[2016-06-15 16:14] matheo opened #1 "Thanks a lot!"
Keep it up Allen
Awesome stuff :+1:
Thanks!!!

[2016-06-15 18:21] allenhwkim commented on #1
No problem, more will to come soon.

Looking for a collaborator too. Are you interested in?

[2016-06-15 21:49] matheo commented on #1
I will test and provide feedback
still learning Angular 2 and Javascript powers ;)

[2016-07-13 13:58] kharatps02 opened #2 "How to hook marker on dragend event."
Thanks for creating module for angular 2.0 support .

I want  to catch marker position ( lat,lon) on dragend event of it so how to hook that event .

[2016-07-13 18:49] #1 closed

[2016-07-13 18:53] allenhwkim commented on #2
Thanks for using it. This should work.
`(markerDragEnd)="myFunc()"`

[2016-07-13 23:20] allenhwkim commented on #2
it wasn't "drag_end", but "dragend". Fixed it. Please test

[2016-07-14 07:47] kharatps02 commented on #2
Thanks for reply ,
It is not working, dragend event is not calling .

 <ng2-map [center]="mapCenter" zoom="4">
        <marker [position]="mapCenter" [draggable]="true" (dragend)="clicked($event)"></marker>
 </ng2-map>

Error console ,

TypeError: Cannot read property 'open' of undefined
    at Ng2MapComponent.openInfoWindow (http://localhost:4200/vendor/ng2-map/dist/components/ng2-map.component.j

[2016-07-14 12:44] allenhwkim commented on #2
At leaset It works with this plunker. I have updated plunker
http://plnkr.co/edit/9AI9dg?p=preview.

I think you want to call openInfoWindow when dragend. I have also tested with openInfoWindow which worked fine.

[2016-07-15 04:07] allenhwkim opened #3 "Custom API URL Through Ng2Map Service"
Google Changed its policy.
We need to support API_KEY in url as well as any other options.

http://googlegeodevelopers.blogspot.ca/2016/06/building-for-scale-updates-to-google.html

We no longer support keyless access (any request that doesn't include an API key). Future product updates are only available for requests made with an API key. API keys allow us to contact developers when required and

[2016-07-25 10:40] kharatps02 commented on #2
Thanks its working for me .

[2016-07-25 10:42] kharatps02 commented on #3
Yes, I'm also facing same issue.

[2016-07-25 13:04] #2 closed

[2016-07-25 15:21] allenhwkim commented on #3
@kharatps02 thanks for trying this module. if you want to try to fix and make PR, I would be appreciate it. I will work on this issue later, but not sooner though.

[2016-07-27 13:41] allenhwkim commented on #3
This feature is enabled and available with 0.3.1.

Example:

[code]

[2016-07-27 13:41] #3 closed

[2016-07-28 12:31] allenhwkim opened #4 "scrollwheel="false" not working"

[2016-07-30 15:58] #4 closed

[2016-07-30 15:59] allenhwkim opened #5 "Multiple maps in a single page shows the last map only"

[2016-07-31 15:55] nhanhv opened #6 "Cannot load ng2-map"
Hi guys,

I'm installed ng2-map and config in systemjs.config.js file, but cannot run app. I get a issue:  XHR error (404 Not Found) loading http://localhost:3000/node_modules/ng2-map/dist.js. Please help me to config.

Thank you so much!

[2016-07-31 16:02] allenhwkim commented on #6
Thanks, I will look into ASAP.

[2016-07-31 16:07] nhanhv commented on #6
Can I push code into my git?

[2016-07-31 16:40] rockways3002 commented on #6
Here is my github https://github.com/rockways3002/example-ng2-map.git

[2016-07-31 16:47] Dralac opened #7 "How to include this module into Webpack"
More question than the issue, but I'd appreciate if you an post some code how to make this work with webpack when you grab a second.
I'm trying to make it work with universal-starter here: https://github.com/angular/universal-starter/blob/master/webpack.config.js

My Component:
[code]
Console output:
[code]

Thanks

[2016-08-01 13:34] allenhwkim commented on #7
[code]
This happens because there is no type 'google' defined. You can install 'google.maps' as a typings. This is my typings.json

[code]

[code]

This happens because there is no variable defined `apiUrl` in Ng2MapComponent.
Personally I don't mind this way, but it complains use `['...']` notation instead

`Ng2MapComponent['apiUrl'] = "https://maps.google.com/maps/api/js?key=YOUR_KEY"; `

[2016-08-01 13:41] allenhwkim commented on #6
Thanks for trying this map. af far as I see , your git does not have `systemjs.config.js`, which points where `ng2-map` is and how to use it.

[2016-08-01 14:52] rockways3002 commented on #6
Hi allenhwkim,
I'm update systemjs.config.js now. Can you help me check one more time. :)

[2016-08-01 15:27] allenhwkim commented on #6
Here are the things made to make your git repo to work.
[code]

You may not need all of them, but at least it would be helpful for you.

Please follow README and don't forget to add api key if your domain is new or test on localhost.

[code]

[2016-08-01 15:29] rockways3002 commented on #6
You are very kind! :)
Thank you so much!

[2016-08-01 15:31] allenhwkim commented on #6
You are welcome. If you don't mind, please add a star on this repo, so that other developer can use it.

[2016-08-01 16:39] rockways3002 commented on #6
![capture](https://cloud.githubusercontent.com/assets/17551405/17301407/c1cbe536-57cb-11e6-8491-8e7111df706c.PNG)
I'm changed to the same of you, but not working :(

[2016-08-01 16:41] allenhwkim commented on #6
I think you are doing strict type checking. change `.apiUrl` to `['apiUrl']`. That may work

[2016-08-01 16:43] rockways3002 commented on #6
HOw about `Cannot find namespace 'google'.`

[2016-08-01 16:44] allenhwkim commented on #6
You need to install typings for google.maps. Please look at typings.json in this repo.

[2016-08-01 21:05] Dralac commented on #7
Hi @allenhwkim,

This solution fixed the issues I had before, but I'm afraid I'm getting new error now:

[code]

Code is the same like above with few adjustments as you proposed:

[code]

And my map.template.html is exactly the same like in your demo:
[code]

Please let me know if you have any idea what could be wrong.

[2016-08-18 22:13] #7 closed

[2016-09-14 21:13] anthony-pinskey opened #8 "Production ready?"
Hello!

Loved this module with Angular 1.x! Thanks so much for converting this for Angular 2. Is this module production ready or still beta? I didn't see any notes in the read me so I was just curious.

thanks!

[2016-09-14 22:20] allenhwkim commented on #6
Now it uses .umd.js, typescript errors shouldn't be matter any more

[2016-09-14 22:20] #6 closed

[2016-09-14 22:20] allenhwkim commented on #8
It's ready for map, markers, and info-window only. All other objects are still on the plan.

[2016-09-27 17:42] #8 closed

[2016-10-27 01:14] hamac opened #9 "mapIdle events not working"
There is a missing comma at the end of line on https://github.com/ng2-ui/ng2-map/blob/master/src/components/ng2-map.component.ts#L28 which prevents mapIdle and mapMaptypeid_changed from working.

[2016-10-27 01:33] allenhwkim commented on #9
Good finding. Thanks for reporting this.

[2016-10-27 01:35] hamac opened #10 "Can't build package"
Trying to fix issue #9, I could not get the project to build.

I tried:
- npm install
- npm run build

But I get the following errors:

ERROR in ./src/components/info-window.ts
(34,22): error TS2503: Cannot find namespace 'google'.
ERROR in ./src/components/info-window.ts
(35,19): error TS2503: Cannot find namespace 'google'.
ERROR in ./src/components/info-window.ts
(50,45): error TS2503: Cannot f

[2016-10-27 17:31] allenhwkim commented on #10
I could not find a way to remove those error messages.
However it build umd.js properly, at least for me. node module `@typings/googlemaps` is supposed to fix that error, but it seems not. I do not want to introduce another `typings` on the top of node_modules.

[2016-10-27 17:50] aitboudad commented on #10
fixed by #11

[2016-10-27 18:10] aitboudad commented on #1
@allenhwkim I'm interested, please add me to the repo!

[2016-10-27 20:50] hamac commented on #10
Yes, I can now build without errors.
Thanks guys!

[2016-10-27 22:50] allenhwkim commented on #1
@aitboudad
Thanks, you are already a cintrubutor:)
I will add you as a collaborator immediately after seeing a quality commit, e.g., shape directive, layer directive etc.

[2016-10-28 15:06] allenhwkim commented on #10
Added a file into tslint.json gave me no error
https://github.com/ng2-ui/ng2-map/blob/master/tsconfig.json#L24

[2016-10-28 15:06] #10 closed

[2016-10-28 15:06] #9 closed

[2016-10-28 15:06] #5 closed

[2016-10-28 15:13] aitboudad opened #14 "Use yarn"
https://yarnpkg.com/

[2016-10-28 15:15] aitboudad opened #15 "Add travis"

[2016-10-28 15:22] aitboudad opened #16 "Add tests"

[2016-10-28 15:23] aitboudad opened #17 "Use webpack for demo app"

[2016-11-05 20:10] allenhwkim commented on #14
Could you explain the benefit of using yarn. I visited the site, and still not getting the picture.

[2016-11-06 09:05] #17 closed

[2016-11-06 10:25] aitboudad opened #21 "support AOT compiler"

[2016-11-06 11:07] aitboudad commented on #14
yes

The main advantage for me is performance see https://yarnpkg.com/en/compare

[2016-11-06 15:12] allenhwkim commented on #21
Could you explain the reason why need this?

[2016-11-06 16:25] aitboudad commented on #21
Could you explain the reason why need this?

also see [Aot documentation](https://angular.io/docs/ts/latest/cookbook/aot-compiler.html) for an introduction to this topic

[2016-11-06 16:33] #21 closed

[2016-11-09 19:47] allenhwkim opened #29 "Add Polygon Directive"
. Complete this example https://developers.google.com/maps/documentation/javascript/examples/polygon-hole

. Polygon class
https://developers.google.com/maps/documentation/javascript/reference#Polygon
. Polygon options
https://developers.google.com/maps/documentation/javascript/reference#PolygonOptions
. Polygon events
. Complete this example https://developers.google.com/maps/documentation/javasc

[2016-11-10 17:46] aitboudad opened #30 "Configure Google API key through Ng2MapeModule"
[code]

[2016-11-13 20:57] allenhwkim opened #31 "Webpack Debugging Issue With Typescript Source Code"
It is very hard to debug with webpack, and I do not see any sourcemap from ts to js. All I see is '.js' files with webpack, which is not useful when we develop.

However, it's ok with systemjs. I had to put back `systemjs.config.js` and `debug.html` for proper debugging.

What am I missing webpack with typescript sourcemap?

[2016-11-13 22:24] aitboudad commented on #31
it's work fine for me see bellow (chrome)

![webpack](https://cloud.githubusercontent.com/assets/1753742/20249254/707e528a-a9ed-11e6-87df-3ce77c7749c5.gif)

If you use `firefox` you should enable the source map https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Console_messages#Source_maps

[2016-11-14 15:12] allenhwkim opened #33 "Allow `[options]` for all attributes"
* if [options] is given, all other inputs are ignored or error out.
* if [options] is changed, run `setOptions` to apply changes.

* The following object should apply these changes
  * ng2-map
  * circle
  * polygon
  * marker
  * info-window

[2016-11-14 15:19] allenhwkim opened #34 "Create BaseMapDirective"
The following code is repeating for every object. It's better to make one BaseMapObject and inherit from there. We all know that `inheritance is evil`. Unless we found a better option, we use it for now.

[code]

Also make this to take two parameters instead of three using ` this.xxxxx['mapObjectName'] `

   Befpre: `this.ng2Map.setObjectEvents(OUTPUTS, this, 'xxxxxx');`
   After: `this.ng2Map.set

[2016-11-14 16:33] #29 closed

[2016-11-14 16:34] #14 closed

[2016-11-14 16:37] allenhwkim commented on #33
@aitboudad please yay or nay for this direction

[2016-11-14 16:37] allenhwkim commented on #34
@aitboudad please yay or nay for this direction

[2016-11-14 16:38] aitboudad commented on #33
:+1:

[2016-11-14 16:41] aitboudad commented on #34
:+1:, let me know if I can take care of it ;)

[2016-11-14 17:18] allenhwkim commented on #34
@aitboudad Sure go ahead.
I took some initative. and here are the code that I have now.

I am not sure how Inputs and Outputs can be inherited or not.(This is a big obstacle :)  )

[code]

[2016-11-15 10:45] #33 closed

[2016-11-16 03:51] allenhwkim opened #38 "Polyline directive / GroundOverlay Directive"
new directive development

[2016-11-16 17:08] tcigrand opened #40 "Lots of console.log calls"
I think the number of `console.log` calls should be cut down.

If there are `console.log` calls that should stay, I was thinking of a couple options and wanted to get your feedback on what you all thought was best for this project.

1. Check if angular is running in dev mode before logging to the console.
[It looks like this function could be used to do that.](https://github.com/angular/angular/bl

[2016-11-16 17:10] tcigrand commented on #30
+1

[2016-11-16 17:12] allenhwkim commented on #40
Thanks

Can you make some detailed suggestions or PR?

[2016-11-16 17:13] tcigrand commented on #40
Yes, likely not for a few days though.

[2016-11-17 00:17] #34 closed

[2016-11-17 00:17] #31 closed

[2016-11-17 00:17] allenhwkim commented on #40
Just as a note
https://github.com/yahoo/strip-loader

[2016-11-17 02:14] allenhwkim commented on #38
done

[2016-11-17 02:14] #38 closed

[2016-11-17 02:17] allenhwkim opened #41 "Create layers directives"
* HeatMapLayer
* KmlLayer
* TrafficLayer
* TransitLayer
* BicyclingLayer

[2016-11-22 05:24] #41 closed

[2016-11-28 09:49] ronakvbhatt07 opened #46 "SyntaxError: missing ) after argument list"
When I am trying to run using `npm start` in win10 it gives me this

    \ng2-map\node_modules\.bin\webpack-dashboard:2
     basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^
    SyntaxError: missing ) after argument list
        at Object.exports.runInThisContext (vm.js:76:16)
        at Module._compile (module.js:528:28)
        at Object.Module._extensions..js (module.js:5

[2016-11-30 13:47] gleibfried opened #47 "Cannot read property 'initialized$' of undefined"
Hello, I want to access my Polygon's properties to make a .getPaths(); on it and did it like this :

- HTML :

[code]

- JavaScript :

[code]

But I get a _Cannot read property 'initialized$' of undefined_ error.

To make sure, I also tried doing the example **How to get instance of a map** in the readme file, it says the same but indeed with _mapReady$_.

Has anyone an idea?

[2016-11-30 16:58] allenhwkim commented on #47
hmm, I don't have idea why this is happening. It works for me, but anyone having the same issue, please report.

[2016-11-30 18:26] gleibfried commented on #47
Okay, that's strange then, so the Polygon works for you? I'd have liked to try on the project's demo but there's this error in the logs :
`TypeError: google.maps[this.mapObjectName] is not a constructor`

Okay, so if it works for you it's maybe that it comes from me. I'll keep looking for the problem. And still if anyone has any idea, feel free to tell :)

Thanks!

[2016-11-30 18:30] allenhwkim commented on #47
My mistake. It was working before, now it does not.
![image](https://cloud.githubusercontent.com/assets/1437734/20765630/210a7fdc-b701-11e6-848b-3bab25c3d8c6.png)

It's a bug status, and I will look into this issue sooner than later.

[2016-11-30 18:37] allenhwkim commented on #46
I think it's a matter of webpack-dashboard. There must be a bug for it.

    "start": "NODE_ENV=dev node node_modules/.bin/webpack-dashboard --title ng2-map -- node_modules/.bin/webpack-dev-server --quiet --port 9001 --content-base app --config app/webpack.config --open"

Can you start webpack-dashboard manually?

[2016-11-30 20:39] allenhwkim commented on #47
It is caused by minification of google maps library done by webpack.

[2016-11-30 20:41] allenhwkim commented on #47
released with 0.9.1, please verify the changes

[2016-11-30 21:20] allenhwkim commented on #40
Release with 0.9.2, closing please verify the change.

[2016-11-30 21:20] #40 closed

[2016-12-01 12:32] Scipionh opened #48 "Cannot find type definition file for 'googlemaps'"
I have just followed the installation guide to include ng2-map to my angular2 typescript project. However, I am running into an issue :
[code]

this error appears for all the files containing
`/// <reference types="googlemaps" />`

as first line. Anything I should do to get rid of this error ?

[2016-12-01 14:33] levarcooper opened #49 "Is it possible to adapt this into an isomorphic module?"
I'm running Angular2 with Angular Universal. I'm running into issues because window is not defined. I haven't looked at the code yet but is it possible adapt the code to remove such dependencies? And is it something you'd want to work toward in the future?

[2016-12-01 14:45] allenhwkim commented on #48
I might be wrong, I don't think you need to use info-window.d.ts directly for your project. However if you want to use it,  it's with @types/googlemaps, https://github.com/ng2-ui/ng2-map/blob/master/package.json#L46

[2016-12-01 15:00] allenhwkim commented on #49
Thanks for reporting this.

It's only used here. https://github.com/ng2-ui/ng2-map/blob/116c27af084e4ddf42055b2031358e0da9a324bd/src/components/ng2-map.component.ts#L97 to load google maps api properly.

Not having idea yet, but meanwhile, any help or PR would be appreciated.

[2016-12-02 08:18] Scipionh commented on #48
I actually don't use info-window.d.ts anywhere, the errors appear when my application compiles. I also already use ng2-map.udm.js and not .ts

[2016-12-02 12:02] allenhwkim commented on #48
I assume you imported InfoWindow somewhere like this;

`import {InfoWindowComponent} from 'ng2-map'}` that requires to look for type definition of `google.maps` which is in node_module `@types/googlemaps`

[2016-12-02 13:09] gleibfried commented on #47
Actually that post wasn't about the bug in the example :/ My polygon is still undefined when I enter ngAfterViewInit() :(
I found that we go inside ngAfterViewInit before the polygon is set so the @ViewChild(Polygon) polygon:Polygon variable is still undefined in it, so still this error :
`Cannot read property 'initialized$' of undefined`

I even tried including it in a setTimeout(() => {...}) wit

[2016-12-02 15:03] allenhwkim commented on #47
It works for me,

http://plnkr.co/edit/ohwPfa3CmgZQlGeTCx2h?p=preview

You might have missed to import `Polygon` from `ng2-map`

[2016-12-02 15:05] gleibfried commented on #47
Yeah I think it's not a problem on the library's side. I think I figured and it seems that there's troubles for the global instanciating when you use custom components inside a component, I put my ng2-map stuff in the above component and here it works now.

Thanks @allenhwkim for the help

[2016-12-02 15:06] #47 closed

[2016-12-05 14:08] levarcooper commented on #49
Thanks for the speedy reply, Allen. For anyone using Angular Universal, here's a simple fix that worked for me.
HTML
`<ng2-map *ngIf="documentReady"></ng2-map>`

COMPONENT
`import { Component, OnInit } from '@angular/core';
import { isBrowser } from 'angular2-universal';
import { Ng2MapComponent } from 'ng2-map';
@Component({...})
export class FooComponent{
    documentReady: boolean = false;

[2016-12-05 16:00] allenhwkim commented on #49
Thank you @levarcooper Let me learn `angular2-universal` meanwhild.

[2016-12-06 08:36] phil123456 opened #50 "cannot npm install under windows 7"
Hi,

first I had to install 'win-node-env' cos NODE_ENV was not recognized as a standard command
but yet I get this error doing 'npm start'
[code]

also sed is a linux command so I guess your project cannot be started under windows

[2016-12-06 08:58] allenhwkim commented on #50
We need to re-think using webpack-dashboard because it seems not ready for Windows.

[2016-12-06 09:17] phil123456 commented on #50
Ok so I am screwed

I don’t understand the point of using nodejs if projects are strongly linked to their native environement

From: Allen Kim [mailto:notifications@github.com]
Sent: mardi 6 décembre 2016 09:59
To: ng2-ui/ng2-map
Cc: FLORENT Philippe; Author
Subject: Re: [ng2-ui/ng2-map] cannot npm install under windows 7 (#50)

We need to re-think using webpack-dashboard because it seems not read

[2016-12-06 09:44] allenhwkim commented on #50
That does not mean end of the world :)

Try this way also

[code]

[2016-12-06 10:07] aitboudad commented on #50
see https://github.com/formly-js/ng2-formly/pull/295/files for changes needed to make it work on windows
I would help but I don't have much time these days :)

[2016-12-06 15:13] phil123456 commented on #50
Got no .bin in node_modules directory :-(

From: Allen Kim [mailto:notifications@github.com]
Sent: mardi 6 décembre 2016 10:44
To: ng2-ui/ng2-map
Cc: FLORENT Philippe; Mention
Subject: Re: [ng2-ui/ng2-map] cannot npm install under windows 7 (#50)

That does not mean end of the world :)

Try this way also

node_modules/.bin/webpack-dev-server --config app/webpack.config.js --content-base app --open

[2016-12-06 15:50] #50 closed

[2016-12-06 16:02] allenhwkim commented on #50
@phil123456 thanks for letting me know that it's not convenient on Windows 7. If you have any better solution, please let us know.

[2016-12-07 07:27] phil123456 commented on #50
actually the slash need to be backslah...usual windows bs

[code]

[2016-12-08 16:48] allenhwkim commented on #46
I don't think webpack-dashboard is ready for Windows.
Please use the following command manually for windows

 `node_modules/.bin/webpack-dev-server --quiet --port 9001 --content-base app --config app/webpack.config --open`

[2016-12-08 16:48] #46 closed

[2016-12-08 16:49] allenhwkim commented on #48
@Scipionh any update from you?

[2016-12-09 11:18] Storchissimo opened #51 "Error when using Places and Maps"
I have a component where i use a map and a input-field for places.

<input type="text" id="store_address" class="form-control" places-auto-complete (initialized$)="initialized($event)" (place_changed)="placeChanged(place)">

<ng2-map [center]="addressForMap">
    <marker position="{{addressForMap}}"></marker>
</ng2-map>

If the places-input is before the map, the places-field is loaded, but not th

[2016-12-09 11:35] allenhwkim commented on #51
Thanks for reporting it, but I don't understand your issue.
Can you create a plunker example to illustrate your issue?

[2016-12-09 11:35] #51 closed

[2016-12-15 11:19] hameltomor opened #52 "How render InfoWindow for each markers?"
main.html
[code]

main.ts
[code]

I need open and close InfoWindow for each marker, but I have error when I click on marker:
[code]

and I have errors when loading map:
[code]

[2016-12-15 15:10] allenhwkim commented on #52
Thanks for using this module

One thing to know, InfoWindow is a single object on map, not like markers, it should be only one.
Thus, you have to define only one infowindow and change its contents, instead of defining multiple infowindows.

here is the example, and I will add this to README.md

https://plnkr.co/edit/6e1qWK?p=preview

template:```
    <ng2-map zoom="14" center="Brampton, Canada">

[2016-12-15 18:38] hameltomor commented on #52
@allenhwkim

Thanks for your reply

I understand how open infoWindow for each marker, but I need transfer object to render component into infoWindow

[code]

[code]

It's doesn't work ;(

[2016-12-15 19:37] spike83 opened #53 "map events not firing"
The events from map are not fired.
I guess because the L21 of services/ng2-map.ts has a bug. The eventName contains the prefix 'map_' but the events of gm are not named with this prefix.
When I change the name of e.g. 'map_click' to 'click' in debugger it works.

[2016-12-15 21:44] allenhwkim commented on #52
You canNOT use your own component or directive with `[[...]]` at the moment because its innerHTML will not have any of those `[[..]]` after it is compiled.

Unless you can make it sure the html generated from  your component has `[[...]]`, you cannot use it as attribute.

I strongly recommend to use pure HTML at the moment until a good PR is made for this.

[code]

[2016-12-15 22:12] allenhwkim commented on #53
Thanks for reporting it. I will make a fix soon

[2016-12-15 22:13] allenhwkim commented on #48
closing for inactivity

[2016-12-15 22:13] #48 closed

[2016-12-16 10:13] dweitz43 opened #54 "marker does not initialize when running with AoT"
Hi, I have been looking at this issue I have been experiencing for some time now, thinking it may have been a problem with my code, which is still very possible, but I thought I might reach out here for possible help/extra knowledge on the idea.

Everything works fine when running a normal development server inside a project created by the ng-cli. However it appears when running the server using A

[2016-12-16 14:41] spike83 commented on #53
I found another problem. The provided value to the eventlistener of `this` is the map object. Better would be to provide the effective `event` object.
I added a pull request with this fix.

[2016-12-16 14:55] allenhwkim commented on #53
I think this PR works for map, but not working with other map objects; marker, circle, etc.

`this` provides the object, so that user can access the map, marker, circle, ... etc
`event` provides the event itself, so that user can access latLng, etc
We need both. With Angular2, `this` is normally the component itself.

I will think about a better solution for map and other objects.

[2016-12-16 15:53] spike83 commented on #53
ok, we could do something like `emit(<InterfaceType>{object: this, event: event})`. Where InterfaceType makes clear what will be returned.
So the outputs could be defined as `new EventEmitter<InterfaceType>());`

[2016-12-16 18:35] allenhwkim commented on #53
It's an idea, but I need to think about backward compatibility too.
Currently it's passing an object, not an event.

I am thinking of setting `event.target` by passing only one. not two.

[2016-12-17 21:19] lrodziewicz opened #57 "Circle, polygon directives break SVG template rendering"
If you happen to use SVG into one of your other components it won't work.

Suggestion: ng2-map directives should be renamed to not collide with the SVG reserved elements.

[2016-12-18 01:29] allenhwkim commented on #57
Are you sure about this? Circle and polygon are only works within Ng2-map

[2016-12-22 11:37] brasycad opened #58 "Using NG2 library show all console logs in the console."
Using NG2 library show all console logs in console.
How I can disable this console.log for production mode?

Thanks in advance!

[2016-12-22 11:39] brasycad opened #59 "<custom-marker> still not work in NG2."
<custom-marker> still not work in NG2.
There are some alternative now that work similar?

Thanks in advance

[2016-12-22 17:02] allenhwkim commented on #59
There is no `custom-marker` in ng2.
I don't have plan for that one yet.
I would appreciate any PR for this feature.

[2016-12-22 17:10] allenhwkim commented on #58
This should be already handled if you use .umd.js. webpack suppress all console.log when it is build for production.

https://github.com/ng2-ui/ng2-map/blob/master/package.json#L15

https://github.com/ng2-ui/ng2-map/blob/master/webpack.config.js#L37

[2016-12-22 18:28] spike83 commented on #53
I found another problem in this direction. When using the DataLayer the elements have not set ng2MapComponent. So InfoWindow example is not applicable when using DataLayer.
It would be great when the `event.target` could have `ng2MapComponent` set in all cases.

Should I enhance the pull request to provide the `event`, the `event.target` and `event.target.ng2MapComponent`?

[2016-12-22 18:53] allenhwkim commented on #53
I think it's better to change DataLayer to have ng2MapComponent like any others.

https://github.com/ng2-ui/ng2-map/blob/master/src/directives/base-map-directive.ts#L55

Then. event.target should always have Ng2MapComponent already without setting it.

[2016-12-23 08:12] spike83 commented on #53
DataLayer itself has set the `ng2MapComponent` vial `BaseMapDirective` but on DataLayer you load geoJson data or add features which could fire events like drawing geometries. But these geometry object which would be `event.target` have not set the `ng2MapComponent`.
An option to capsule DataLayer could be to use the Events on DataLayer to set stuff otherwise set by `BaseMapDirective`.

[2016-12-23 14:53] thorcode opened #60 "DrawingManager Access"
I have integrated your code into my app and it is working quite well.  I certainly appreciate your time and isntructions.

I am new to ng2 and TypeScript and my use case requires that I utilize the DrawingManager.

I have most of the DrawingMgr features I am looking for working in a simple html page and js but wanted to bring it into my ng2 app.  Do you any code examples or snippets on how to 'ins

[2016-12-23 15:20] allenhwkim commented on #60
It's better to make a simple directive for this feature. Let me see how long it takes.

[2016-12-23 17:23] allenhwkim commented on #60
This is released with 0.13.0, please test

[2016-12-23 17:26] allenhwkim commented on #57
Please verify this, or else, it will be closed soon

[2016-12-23 17:28] allenhwkim commented on #58
please verify the answer, or else, it will be closed soon

[2016-12-23 17:29] allenhwkim commented on #54
I could reproduce same issue with `ng serve --aot`. I have no idea why it's not running. I suspect it's angular-cli issue. anyway, help is appreciated for this.

[2016-12-23 17:32] #52 closed

[2016-12-23 19:24] thorcode commented on #60
Thanks for the prompt and awesome response.  I will check it out and let you know.

John

[2016-12-23 20:31] thorcode commented on #60
After a little reading and trial and error I have the basics working...  thanks a bunch - great job!

[2016-12-23 20:31] #60 closed

[2016-12-24 05:08] sureshhustle opened #61 "Marker issue"
Hi ,
    Please help me to load marker values from API, i tried to load from local which working fine but when i try with server data which is not working , Provide me the sample code for get marker values form API

[2016-12-24 14:15] allenhwkim commented on #61
Here it is

You cam think `Observer.of` as `http.get`

https://rawgit.com/ng2-ui/ng2-map/master/app/index.html#/marker-ng-for

[2016-12-24 14:15] #61 closed

[2016-12-28 05:31] AsankaD7 opened #62 "how to access polygon point value(latitude and longitude )"
I use ng2-map polygon example.I want to draw shape file using this example I want to access every polygon point values(latitude and longitude) like a ng2-map info-window example.How can I do that?

Thanks.

[2016-12-28 14:57] allenhwkim commented on #62
1. get polygon object as described in README.md
2. call `getPaths()` for all lat/lng of your polygon.

https://developers.google.com/maps/documentation/javascript/3.exp/reference#Polygon

[2016-12-28 14:57] #62 closed

[2016-12-29 07:27] AsankaD7 opened #63 "How to get latitude and longitude on mouse click event"
How to access latitude and longitude on mouse click event.I tried Simple InfoWindow example it's working  but in that example there is no way defined how to access latitude and longitude without marker.

[2016-12-29 12:39] allenhwkim commented on #63
Thanks for reporting this.
duplicate to #53

[2016-12-29 12:39] #63 closed

[2016-12-29 15:04] allenhwkim commented on #53
@spike83, I don't quite get what you are saying on the above.
However, I will implement `event.target` first. I think implementation will satisfy almost all requirements of accessing an event object.

[2016-12-29 18:27] allenhwkim commented on #58
Closing for no answer

[2016-12-29 18:27] #58 closed

[2016-12-29 19:05] spike83 commented on #53
Thanks. It looks fine so far. But the initial problem on event names seems not to be solved (I've not tested yet but cannot see it in your change).
https://github.com/ng2-ui/ng2-map/pull/55/commits/f9e6a5919ef282a746eed18f3c1d31f0476f353d#diff-3bc567c5452e940654fad6f79697751eR20

[2016-12-29 20:22] allenhwkim commented on #53
I don't know where you find `map_click`, which was the old implementation. We should use `click` now, However, it also fires DOM event that you can filter out.
[code]

[2017-01-03 14:10] lrodziewicz commented on #57
It's been holidays, I haven't really have time to replay.

I'm sure that it's not working just try to use component like:
`
import {Component} from '@angular/core';

@Component({
  selector: 'svg-element',
  styles: [``],
  template: `
    <svg height="230px" width="230px" viewBox="0 0 120 120">
       <circle cx="60" cy="60" r="60" fill="red"/>
    </svg>
  `
})
export class SvgComponent {
}
`
Th

[2017-01-03 15:14] allenhwkim commented on #57
It seems that `ng2-map > circle` does not work with angular2. It applies to `circle` all the time.
It could be ng2 bug, but not sure about it.

Meanwhile please use `ng2NonBindable` in `svg` tag to make it work
https://plnkr.co/edit/XMqUL7cpKcv2Vzs7ArRa?p=preview

[2017-01-06 06:00] Avinash-Gupta-B opened #66 "panel is not working"
Unable to append directionsResult to the panel.

[https://rawgit.com/ng2-ui/ng2-map/master/app/index.html#/directions-renderer]()

<ng2-map [hidden]="!checked" zoom="13" [center]="origin">
    <marker *ngFor="let pos of positions" [position]="pos"></marker>
    <directions-renderer
      [suppressMarkers]="true"
      [draggable]="true"
      (directions_changed)="directionsChanged()"
      [direc

[2017-01-06 23:10] allenhwkim commented on #66
The problem is that the value of [panel] must be a Node, not a string.
You can achieve that by setting panel separately like the following

[code]

[2017-01-06 23:27] #66 closed

[2017-01-07 03:55] Avinash-Gupta-B commented on #66
ya i solved the issue by setting setPanel method in directions-renderer.ts file, But the way you solved the issue is very generic and nice.
Thank you very much for response.

[2017-01-11 01:02] matvey-kazakov opened #68 "Cannot use Google charts with ng2-map"
there are several checks for google, not google.maps (I've found 3)
https://github.com/ng2-ui/ng2-map/blob/master/src/components/ng2-map.component.ts#L76
https://github.com/ng2-ui/ng2-map/blob/master/src/components/ng2-map.component.ts#L101
https://github.com/ng2-ui/ng2-map/blob/master/src/directives/places-auto-complete.ts#L25

Because of that if I load google charts api
`<script type="text/javas

[2017-01-11 03:31] allenhwkim commented on #68
Thanks. I only thought of google maps, not with other apis.
Can you make a pull request?

[2017-01-11 08:48] matvey-kazakov commented on #68
I've created it, but I'm not sure why `ngc` generates different code for `dist/components/*` than in repository. If you advice I can rebuild pull request with smaller number of file changes.

[2017-01-11 11:11] Avinash-Gupta-B commented on #66
How can we create a way points from one base origin to multiple destination points @allenhwkim

[2017-01-11 14:42] allenhwkim commented on #66
@Avinash-Gupta-B out of scope. That question should be asked to Google Maps API group, not to me. Please use stackoverflow for it.

[2017-01-12 10:00] nm-saravanan opened #70 "Property 'backgroundColor' does not exist on type 'Ng2MapComponent'"
serve is working, but build is giving error
I am using ionic .rc4

[2017-01-12 11:24] uzumakinaruto123 opened #71 "Usage for marker icon options"
I was able to change marker icon as below :-

`<marker  icon="assets/img/custommarker.png" [position]="currentLocation">`

But , how can I scale it to required size ? I mean , how to use icon options like `size,scaledSize` ?

Not yet possible ?

Thanks !

[2017-01-12 13:08] uzumakinaruto123 commented on #71
Got it ,

`<marker [icon]="iconOptions" [position]="currentLocation">`

[code]

thanks.

[2017-01-12 13:08] #71 closed

[2017-01-12 14:48] allenhwkim commented on #70
Duplicate to https://github.com/ng2-ui/ng2-map/pull/64

[2017-01-13 13:49] FloPersus commented on #51
Hi,

I have the same problem,

Can you provide an example with this two features ?

Thx

[2017-01-16 17:26] uzumakinaruto123 commented on #5
I am facing this issue ! Issue is closed , did miss something from documentation ? @allenhwkim  Thanks

[2017-01-16 19:35] allenhwkim commented on #5
It seems working fine. Check this. Are you using old version?
https://rawgit.com/ng2-ui/ng2-map/master/app/index.html#/multiple-map

[2017-01-16 19:51] uzumakinaruto123 commented on #5
I am using the latest one. Installed it today itself. And , I checked that demo but its not working.

**HTML :**

[code]

**dependencies :**

[code]

Thanks !

[2017-01-16 20:12] uzumakinaruto123 commented on #5
@allenhwkim  Here is the plukr , reproducing the same issue  [PLUNKR](http://plnkr.co/edit/qMXwzA2kXpXxoLMU3iTR?p=preview)

[2017-01-16 21:41] allenhwkim commented on #5
It's because of the racing condition of loading google maps API.
You can manually insert script tag in your html like the following.

https://plnkr.co/edit/B2jMxS93oGXZYVEmW6Py?p=preview

There is one bug on this approach, I will make a fix soon

[2017-01-17 03:28] uzumakinaruto123 commented on #5
That did work !  Can I know whats the bug ? just to be aware of . Thanks , appreciate your work ! 👍

[2017-01-17 03:43] uzumakinaruto123 opened #73 "Feature Request : Fallback position option if position fails."
I am using address to center map and center the marker position.

But , some addresses won't load , resulting in a runtime error. where **map won't load**. It would help if there's a **fallback position property** which will load if actual one fails.

For example , the following location will fail and map won't load. having property like [fallback]="**someObviousLocation**" will help.

[code]

Tha

[2017-01-17 15:39] allenhwkim commented on #73
Thanks for reporting this. This will be implemented

[2017-01-18 01:23] allenhwkim commented on #5
When `ng2-map` starts and google map API is not loaded, it loads google API by injecting `<script>` tag with a callback.
The callback function initialize the actual map, but only one map. That's why the last map only initializes.

To initialize all maps, the callback function needs to remember not only one but all map instance, and initializes it. However, I do not think it's worth  to try it. I w

[2017-01-18 15:35] staffanselander commented on #30
+1

What happens if there already is the api is already imported using normal script tag?
Would be nice to be able to choose that as well.
We are running hybrid version between angular 1 and angular 2. And have to import it using script tag.

[2017-01-18 15:37] allenhwkim commented on #30
@staffanselander if `google.maps` is already there, this API does not insert any script tag into your document.

[2017-01-18 15:42] staffanselander commented on #30
@allenhwkim That made my day! Thanks for quick reply

[2017-01-23 20:28] allenhwkim commented on #59
This is implemented already

[2017-01-23 20:28] #59 closed

[2017-01-23 20:41] allenhwkim commented on #57
This has been implemented. Please use `map-circle` and `map-polygon` when conflicts to `svg`

[2017-01-23 20:41] #57 closed

[2017-01-23 20:57] allenhwkim commented on #53
added back events `mapClick` to avoid DOM events. related to issue #55

[2017-01-23 20:57] #53 closed

[2017-01-23 21:22] allenhwkim commented on #68
This has been merged and fixed.

[2017-01-23 21:22] #68 closed

[2017-01-23 21:22] #70 closed

[2017-01-23 22:02] allenhwkim commented on #73
use `geoFallbackCenter` or `geoFallbackPosition`

[2017-01-23 22:02] #73 closed

[2017-01-25 15:06] uzumakinaruto123 commented on #73
@allenhwkim  Fallback only accepting LatLng literals. If address string is passed it throws error `InvalidValueError: setPosition: not a LatLng or LatLngLiteral: not an Object` .  I intend to pass only city name if actual position fails. but it does not work. Thanks

[2017-01-25 15:15] allenhwkim commented on #73
That's intentional. fallback option must be lat/lng. What if the current position is not available by browser? What if geocode always fails? It's better to be safe to have Lat/Lng instead of string.

[2017-01-25 15:28] uzumakinaruto123 commented on #73
I do understand that.  Hence , the fallback is just going to be the city name(which is ok for my use case). which won't fail 95% of the times.

Point of not using LatLng in actual position is unavailability of LatLng data. If LatLng data was present , it won't even fail in most cases , so fallback won't be required .

Fallback will mostly be used where address string are passed as positions.

[2017-01-30 15:41] levarcooper opened #74 "Cannot read property 'getPlace' of undefined due to failure to initialize"
I'm getting errors with the autocomplete and directions renderer directives. It seems as though the component's initialize event is not firing. I've included an autocomplete example below. Typing in the field produces the autocomplete dropdown as expected but when an address is selected (placeChanged function), an error appears in the console stating that autocomplete is not defined. As for the di

[2017-01-30 17:49] allenhwkim commented on #74
It seems working fine for me. Please follow the example strictly.

https://github.com/ng2-ui/ng2-map/blob/master/app/map-components/places-auto-compolete.component.ts

https://plnkr.co/edit/n3aELSNoOZKThjkCHDJ3?p=preview

[2017-01-30 17:49] #74 closed

[2017-02-01 14:58] #15 closed

[2017-02-01 14:59] #16 closed

[2017-02-02 16:21] Mercality opened #75 "Custom markers do not stay in position when zooming in and out"
Custom markers won't stay on their corresponding location when zooming in and out i can see the setposition function is called when the map is zoomed in and out but for some reasons the markers all end in wrong locations.

EDIT: Just noticed that this happens when using the string format for position eg: '80.25, -65.23'. Using the array format eg: [80.25, -65.23] doest not trigger any strange beha

[2017-02-02 18:34] allenhwkim commented on #75
@ro- Can you take a look into it if possible?

[2017-02-02 19:54] #30 closed

[2017-02-02 23:12] ro- commented on #75
@allenhwkim I've only used the array format to be honest. The interpreted the string input for use in geocoding.

Will have a look.

[2017-02-08 13:29] caerulea-rosa opened #79 "initialized$ as an output"
Hi, great work overall - thank you :)

I wanted to ask if you would consider annotating the initialized$ (and maybe also other emitters?) as outputs, so that they can be subscribed to within a template.

This would enable the use of ngIf on components and make it also possible to avoid the ViewChild within one's component.

Thank you! :)

[2017-02-08 17:45] nm-saravanan opened #80 "eval security risks"
I am getting the eval issue form services/option-builder.js
rollup: Use of `eval`is strongly discouraged, as it poses security risks and may cause issues with minification.

[2017-02-08 17:53] allenhwkim commented on #80
I and we all know eval is not encouraged to use.

https://github.com/ng2-ui/ng2-map/blob/master/src/services/option-builder.ts#L136

[code]

I will try again without using eval.
Thanks for reporting it.

[2017-02-08 17:55] aitboudad commented on #80
@allenhwkim I'm on it

[2017-02-08 17:56] allenhwkim commented on #80
thanks @aitboudad

[2017-02-08 18:00] allenhwkim commented on #80
@aitboudad try test with this, the most complicated cast I can think of.

[code]

[2017-02-08 18:16] aitboudad commented on #80
@allenhwkim couldn't find a better so I leave it for you ;),

not sure if we should support this feature, I would vote to remove it at all

[2017-02-09 01:26] allenhwkim commented on #80
@aitboudad without this, users need to have `google.maps` on their app level, which most of them don't.

For example,

`google.maps` can only be required when they are using `ng2-map`, however if we make this as configured as a variable, they need to set `new google.maps.StreetViewPanorama.........`, which will fail without having google api installed with `<script>` tag.

[2017-02-11 14:10] caerulea-rosa commented on #79
PS :  sample usage :

`<ng2-map scrollwheel="false"
                 (mapReady$)="mapReady($event)"
                 [zoom]="mapZoom"
                 [center]="mapCenter">`

[2017-02-11 15:12] allenhwkim commented on #49
@aitboudad would you look into this?

[2017-02-11 15:14] aitboudad commented on #49
sure but we should wait until https://github.com/angular/angular/issues/13822 is implemented

[2017-02-11 19:21] #80 closed

[2017-02-11 19:22] allenhwkim commented on #54
@aitboudad Could you verify this, and make it closed?

[2017-02-11 19:42] allenhwkim commented on #75
Tested with this code, and it all works fine for me
[code]
![image](https://cloud.githubusercontent.com/assets/1437734/22856833/ca06530a-f067-11e6-93bd-35b25353de28.png)

[2017-02-11 19:48] allenhwkim commented on #75
FYI, when you specify a lat/lng as string, you should use `lat, lng` format.

Not this one
 <strike>`[center]="[42.99,-77.79]"`</strike>
Nor, this one
 <strike>`center="[42.99,-77.79]"`</strike>

Only this format is accepted for proper parsing from string
  `center="42.99,-77.79"`

Or, you can use geo-coding
  `center="Brampton, Canada"`

[2017-02-11 19:48] #75 closed

[2017-02-12 00:48] allenhwkim opened #83 "Default apiUrl For Packaging for ng2-ui"
@aitboudad

Shouldn't we have a default apiUrl. e.g. `https://maps.google.com/maps/api/js`?
So that, some websites, they don't have to do anything because they don't need an api key.

Related code:
* https://github.com/ng2-ui/ng2-map/blob/master/src/services/config.ts,
* https://github.com/ng2-ui/ng2-ui/blob/master/app/main.ts

[code]

Advantage for having a default apiUrl is that when you have an

[2017-02-12 10:02] aitboudad commented on #83
apiUrl is optional see [ng2-map.component.ts#L115](https://github.com/ng2-ui/ng2-map/blob/master/src/components/ng2-map.component.ts#L115) and have a default value https://maps.google.com/maps/api/js

The only required step to have a simple map is:
[code]

[2017-02-12 13:42] allenhwkim commented on #83
@aitboudad we still need to call
` Ng2MapModule.forRoot()`

Can we make it to have config optional like the following?

[code]

[2017-02-12 14:52] aitboudad commented on #83
The import statement is required and the config is optional.
The `forRoot` should be called only on the root module and I think it is useful to have a singleton instance for ng2-map providers (e.g. lazyload module).
![selection_068](https://cloud.githubusercontent.com/assets/1753742/22863108/78aaf490-f132-11e6-8f82-39addc23e230.png)

[2017-02-12 14:55] aitboudad commented on #83
we can introduce a new module `Ng2MapSimpleModule` but I don't think that will be really useful:
Before:

[code]

[code]

[2017-02-12 17:37] allenhwkim commented on #83
I agree. I don't think it's usefully introduce a new module

[2017-02-12 20:18] uzumakinaruto123 commented on #54
I am using ng2-map in ionic 2 , It was building until 0.15.1 version was installed

But , I was facing marker issue so I tried 0.15.2 , now app does not build ...
[code]

Dependencies :-

[code]

Thanks !

[2017-02-12 20:45] allenhwkim commented on #54
@uzumakinaruto123
It works for me with ngc.
Please create a different issue with your source code and configs.

[2017-02-12 21:40] allenhwkim commented on #83
@aitboudad Please review this. This allows us to use both

with forRoot()
[code]

and without it.
[code]

[2017-02-13 04:40] allenhwkim opened #84 "Upgrade webpack from 1.* to 2.*"
Webpack version 2 has very significant changes, and configuration is not backward compatible
https://blog.madewithenvy.com/getting-started-with-webpack-2-ed2b86c68783#.3tv0tylgk

We need to upgrade to webpack 2.* and rebuild our webpack.config.js

[2017-02-13 05:28] uzumakinaruto123 opened #85 "Ionic 2 with ng2-map ngc build fails with ng2-map 0.15.2"
ng2-map version 0.15.2 fails prod build with ionic 2 , Its reproducible with vanilla ionic 2 starter too.

**Repo :-**

[https://github.com/uzumakinaruto123/ionic2-ng2map-starter.git](https://github.com/uzumakinaruto123/ionic2-ng2map-starter.git)

**Steps :-**
1. git clone
2. npm install
3. npm run build --prod

**Output :-**

[code]

[2017-02-13 05:29] uzumakinaruto123 commented on #54
Ok . Here it is #85 👍

[2017-02-13 10:51] aitboudad commented on #83
but the issue now is when using the lazy load module the providers: `GeoCoder`,  `NavigatorGeolocation`, `Ng2Map` and `OptionBuilder` be will be duplicated in the child module instead of having one instance per service.

[2017-02-13 11:16] aitboudad commented on #85
try updating your angular version into the latest one and it should work
see https://github.com/aitboudad/ionic2-ng2map-starter/commit/f023fb368dd0a3dc48506e18014be58870d850dd

[2017-02-13 11:16] #85 closed

[2017-02-13 11:17] aitboudad commented on #54
@dweitz43 can you provide us a repo with the changes to reproduce your issue?

[2017-02-13 15:03] allenhwkim commented on #83
@aitboudad I do not see any danger for having a separate instance for those classes for child modules.

[2017-02-13 15:13] aitboudad commented on #83
as you want :)

[2017-02-13 17:19] allenhwkim commented on #83
@aitboudad I will learn more about forRoot/forChild, and look into how other modules work with providers. Let us implement as it is, and improve it later. Everything changes. :)

[2017-02-13 23:19] ziXet opened #86 "How get access to google.map object?"
For some low-level operations such as event.trigger, I need to have access to the google.map object. Is there anyway to get this object?

[2017-02-13 23:54] allenhwkim commented on #86
It's on README.md
![Uploading image.png…]()

[2017-02-13 23:54] #86 closed

[2017-02-14 04:51] ziXet commented on #86
I think what I get from onMapReady is the map instance. Not the actual "google.maps" object.
For example creating a LatLng object. There only way to access to the LatLng class is though the "google.maps" object. correct me if I'm wrong.

Thanks

[2017-02-14 16:06] #83 closed

[2017-02-14 16:07] #79 closed

[2017-02-15 12:10] ujibang opened #87 "starting with version 1.5.2 does not work with latest angular/angular-cli/typescript"
the new configuration method via `Ng2MapModule.forRoot()` does not work with latest versions of angular/angular-cli/typescript (not sure which one causes the problem).

I recently updated my project with latest packages and ng2-map to 1.5.3

Config ng2-map in app.module imports array lead to compilation failure (Error encountered resolving symbol values statically)

I also tried invoking `Ng2MapMo

[2017-02-15 12:20] aitboudad commented on #87
the latest version of `angular` is v2.4.7, please update it and try again

[2017-02-15 12:48] allenhwkim commented on #87
@aitboudad According to http://angularjs.blogspot.ca/2016/08/angular-2-rc5-ngmodules-lazy-loading.html, forRoot is introduced at RC5.
@ujibang Could you provide your full AppModule.js, package.json here?

[2017-02-15 12:52] aitboudad commented on #87
some of angular version has some known issue with ngc itself and depend on which version we use during compilation of `ng2-map`, so it is preferable to use the latest one

[2017-02-15 13:52] tacree commented on #87
I think this may be a problem with CLI.  I am having the same problem when using angular-cli, but if I run the examples from the NG2-Map project using straight webpack, they works fine.  See these 2 issues in the angular-cli project:

https://github.com/angular/angular-cli/issues/3674
https://github.com/angular/angular-cli/issues/4647

[2017-02-15 14:25] tacree commented on #87
I updated to the latest version of angular-cli and it resolved this issue.  I updated from beta.30 to beta.31 and compilation started working.  Here is my version info:

@angular/cli: 1.0.0-beta.31
node: 7.4.0
os: darwin x64
@angular/common: 2.4.7
@angular/compiler: 2.4.7
@angular/core: 2.4.7
@angular/forms: 2.4.7
@angular/http: 2.4.7
@angular/platform-browser: 2.4.7
@angular/platform-browser-dyna

[2017-02-15 14:44] ujibang commented on #87
@tacree are you sure that building from angular-cli and straight from webpack uses the same version of typescript?

[2017-02-15 15:07] tacree commented on #87
I updated angular-cli's version to beta.31 this morning and the problem still persists.  @ujibang the Typescript version being used by angular-cli is 2.0.10, which looks to be the same as what ng2-map is using.

FWIW, removing the lazy configuration with the static method call to "forRoot" and going back to configuring the Ng2MapComponent.apiUrl property resolves the problem, however, this is not

[2017-02-15 15:17] ujibang commented on #87
my package.json

[code]

[2017-02-15 15:42] allenhwkim commented on #87
@ujibang your app module?

[2017-02-15 18:14] ujibang commented on #87
pasting here the relevant part of app.module (@NgModule imports array)

[code]

[2017-02-15 18:24] aitboudad commented on #87
seems related to `https://maps.google.com/maps/api/js?key=${GMAPS_API_KEY}`, if you put a string value it should work

[2017-02-15 19:19] aitboudad commented on #87
@ujibang can you try with:
[code]

[2017-02-15 19:40] aitboudad commented on #84
see #88

[2017-02-15 19:54] allenhwkim commented on #84
@aitboudad thanks

[2017-02-16 08:22] ujibang commented on #87
still getting error

[code]

[2017-02-16 08:37] allenhwkim commented on #87
@ujibang Do you have a Google Maps API Key?

[2017-02-16 08:54] #84 closed

[2017-02-16 11:08] macropp commented on #87
Hi, I'm also getting the same error @ujibang is mentioning.

Versions I have:
angular-cli: 1.0.0-beta.26
node: 6.8.0
os: darwin x64
@angular/common: 2.4.4
@angular/compiler: 2.4.4
@angular/core: 2.4.4
@angular/forms: 2.4.4
@angular/http: 2.4.4
@angular/platform-browser: 2.4.4
@angular/platform-browser-dynamic: 2.4.4
@angular/router: 3.4.4
@angular/compiler-cli: 2.4.4

[2017-02-16 11:11] aitboudad commented on #87
ok I'll try to provide you a working example with the latest `angular-cli` as it's work for me

[2017-02-16 11:20] ujibang commented on #87
of course. ng-map 1.5.1 works very well. starting 1.5.2 I have that compilation error, i.e. the project does not build with `ng b` nor it works with `ng s`

[2017-02-16 12:13] #54 closed

[2017-02-16 12:42] aitboudad commented on #87
I can reproduce it, working on a fix!

[2017-02-16 14:58] #87 closed

[2017-02-16 15:28] aitboudad commented on #87
please try with `0.15.5` version

[2017-02-16 15:43] aitboudad commented on #87
angular-cli repo: https://github.com/aitboudad/ng-cli-ng2-map

[2017-02-16 15:53] allenhwkim commented on #87
@aitboudad thank you

[2017-02-16 17:37] ujibang commented on #87
I confirm 0.15.5 fixes this issue, @aitboudad thank you

FYI, in order to parametrize the configuration I had to specify my api key this way:

in my conf.ts file

[code]

in app.module.ts

[code]

[2017-02-17 02:29] allenhwkim commented on #5
This has been fixed and released.

[2017-02-17 14:37] ajcRodrigues opened #90 "How to create dynamically a InfoWindow?"
I receive from server a couple of path (or routes) and dynamically show it on map as polyline. Now, I need to add a click event from a polyline and show up some informations of it.

Please, how can I do this?

[2017-02-17 14:56] allenhwkim commented on #90
You are not encouraged to make the same multiple or dynamic info window.

    @Component({
      selector: 'ng2-map > info-window',
      inputs: INPUTS,
      outputs: OUTPUTS,
      template: `<ng-content></ng-content>`,
    })

As you see in the code, all htmls are angular HTML.

Within HTML, you can make it dynamic.

[2017-02-17 14:58] allenhwkim commented on #90
Please also take a look info window example and make an example from it

This will be closed since there is no example provided to reproduce your issue.

[2017-02-17 14:58] #90 closed

[2017-02-20 04:13] eirikant opened #91 "Multiple inputs with auto-complete"
I'm having a hard time figuring out how to add to instances of the autocomplete to the same component. Maybe it's my inexperience, but I can't seem to differentiate the two inputs, and the autocomplete will always just initiate on the last input.

Link to plunker:
https://plnkr.co/edit/QdEfXb02PPClgwY7IoBD

[2017-02-20 04:31] allenhwkim commented on #91
It seems like a bug to me at this moment. I will investigate and find a solution;

[2017-02-20 04:37] allenhwkim commented on #91
Nice catch @eirikant
According to this code, https://github.com/ng2-ui/ng2-map/blob/master/src/directives/places-auto-complete.ts#L50

When Google Maps API is not loaded, it loads Google Maps API first, then initialize the autocomplete.

The problem is that, it does not initialize ALL autocomplete, but only the last one registered because there is only one callback can be called by Google.

I need

[2017-02-20 04:39] eirikant opened #92 "Both Map and Auto-complete shows empty map."
By having both a autocomplete input and a <ng2-map></ng2-map> makes the map render white with no information. Or if the <ng2-map> comes first in the HTML the map works but auto-complete does not.

Having just the API url in the NgModel makes the auto-complete return the error:
`GET https://maps.google.com/maps/api/js&callback=initializePlacesAutoComplete `
By adding the API url to the component wi

[2017-02-20 04:43] eirikant commented on #92
The fix for #91 my ref the google api in the HTML file works around this too, but should probably be looked into!

[2017-02-20 04:43] allenhwkim commented on #92
The same issue with #91. By pre-loading Google Maps API, you can resolve this issue.

https://plnkr.co/edit/oIff6S?p=preview

https://plnkr.co/edit/AG15WKcY62MxrAzGNq5t?p=preview

[2017-02-23 05:51] xiaohuiz opened #94 "return the place object for event 'place_changed' of PlacesAutoComplete"
Currently PlacesAutoComplete has an event of place_changed but no data include in the event, end user had to bind the initialized event to get the google.maps.places.Autocomplete object and call getPlace() in place_changed event handler.

suggest change line 44 of "src/directives/places-auto-complete.ts" to the following line to include the place in the event itself

    this.autocomplete.addListe

[2017-02-23 13:02] allenhwkim commented on #94
place_changed does not have argument according to this.
https://developers.google.com/maps/documentation/javascript/3.exp/reference#AutocompleteOptions

`this.getPlace()` is an option, but`this` scope is tricky.

Although this module strictly follow the Google Maps API v3, we can think of an exception

[2017-02-23 22:28] xiaohuiz commented on #94
current implementation of initialized event does not work if I add google map api script in my index.html. I guess it is because the event is emitted in the class constructor and angular 2 has not got an opportunity bind the event to my handler.

Since the only reason of bind this initialized event in my app is to get the autocomplete object to be used later to get the changed place, why not emit

[2017-02-25 05:56] allenhwkim commented on #91
Duplicate to #92

[2017-02-25 05:56] #91 closed

[2017-02-25 16:30] g-schmitz opened #95 "Custom markers are not attached to position"
When the map is zoomed in or out, custom markers are not staying at their defined position.
While it seems like they would've been positioned absolute, they are sometimes thrown all over the place randomly on each zoom level.

Plunker example: https://plnkr.co/edit/XWoQ066YXjE3eKkwjlan?p=preview

[2017-02-25 19:23] allenhwkim commented on #95
@g-schmitz thanks for reporting this
this has been fixed and released 0.15.6

[2017-02-25 19:23] #95 closed

[2017-02-25 19:57] allenhwkim commented on #92
This has been fixed and released as 0.15.7

[2017-02-25 19:57] #92 closed

[2017-02-25 19:57] allenhwkim commented on #94
This has been fixed and released as 0.15.7

[2017-02-25 19:57] #94 closed

[2017-02-26 16:50] macropp opened #96 "Marker custom icons"
**Setup**
I have a map laid out on my page and I’m displaying markers on it successfully. I want the markers to have custom graphics (which I’m setting using the icon @input).

The problem is that it works if set the icon to a URL string, but I’m unable to make it work with size and scaledSize properties set. It also works if I set icon @input as an object with only url key in it.

I’m trying to s

[2017-02-26 19:42] g-schmitz opened #97 "How to access google's geometry library?"
For calculating the distance of a Polyline I need to have access to the google.maps.geometry library.
Since it isn't available through the maps object itself, how is it possible to access those "external" libraries?

btw I did include the libraries param in the .forRoot({apiUrl:'...'}) method.

For further information take a look at: https://developers.google.com/maps/documentation/javascript/geom

[2017-02-26 19:57] g-schmitz opened #98 "More sophisticated control over map directives?"
Is there any demand for adding more control over some of the map directives?

I am particularly thinking about extending `<marker>` and `<custom-marker>` for allowing distinct configurations based on the map's current zoomLevel. So it would be possible to change the icon/icon-size or even showing and hiding the marker at all at different levels.

Any other suggestions? pls let me know because I'm

[2017-02-26 20:41] allenhwkim commented on #97
Once you included the library in your forRoot, the library available when the map is initialized.
However, the type of google.maps won't be available on your app component.

You also need to import type to avoid typing errors.

[code]

Since I don't know what errors you are having and how much you tried because there is no example or code provided.

Please follow issue template for faster issue re

[2017-02-26 20:51] allenhwkim commented on #98
No, there is no demand to extend `marker` and `custom-marker` at this moment.

Regarding to `marker`, we do not accept any behaviour which is not provided by Google because this modules STRICTLY follow Google Maps API V3. We do not invent wheels here.

`custom-marker` is an exception because Google does not have this feature.

Please explain what you want to do in detail to avoid PR getting not ac

[2017-02-26 22:01] allenhwkim commented on #96
It seems working for me with `[icon]` without any modification.

https://plnkr.co/edit/qu56sf?p=preview

[code]

[2017-02-27 19:41] #98 closed

[2017-02-28 17:10] g-schmitz commented on #97
thank you @allenhwkim, adding the googlemaps typings to my tsconfig.json solved the issue!

[2017-02-28 17:10] #97 closed

[2017-03-01 10:19] sanjaykumarns commented on #60
I am using ng2-map version: 0.15.7, But while including drawing-manager, it is telling DrawingManager of undefined like below:

Uncaught TypeError: Cannot read property 'DrawingManager' of undefined
    at DrawingManager.BaseMapDirective.initialize (VM2113 ng2-map.umd.js:319)
    at eval (VM2113 ng2-map.umd.js:308)
    at SafeSubscriber.schedulerFn [as _next] (VM2114 core.umd.js:3701)
    at SafeS

[2017-03-01 11:45] allenhwkim commented on #60
[code]
Drawing library is required to use Drawing Manager according to google.
https://developers.google.com/maps/documentation/javascript/drawinglayer.

[2017-03-02 19:45] macropp commented on #96
@allenhwkim sorry for the late reply. Seems to be working with arrays as anchor, size and scaledSize values. I was trying with JS Objects for some reason..

Thanks for the clarification.

[2017-03-02 21:01] allenhwkim commented on #96
@macropp One thing to remember is that "google.maps" is not available until `ng2-map` is initialized unless you include google maps api separately into index.html.

Thus, `ng2-map` accepts google objects parameters as string or as a simple hash and make a proper initialization internally, which makes user little bit confused, but also having some convenience.

Let me know if I can improve more fro

[2017-03-03 17:33] macropp commented on #96
@allenhwkim, yeah eventually I also figured that google namespace is only available after map's ready event is dispatched.

Thanks for your help, provided method is pretty convenient.

[2017-03-03 19:11] martinmanzo opened #99 "Markers appears in DOM inspector but doesn't show in the map"
I'm using a map with a heatmap and need to handle clicks on some parts of the map.
The heatmap shows ok. The problem comes when I generate the markers.

This is the code on the HTML:
[code]
This is how I add coordinates to the array:
[code]
`r` is an array with two elements. For example: ` [-34.890718, -56.084513]`
This produces the next HTML:
![image](https://cloud.githubusercontent.com/assets/36

[2017-03-04 01:17] allenhwkim commented on #99
It works fine with me.
https://plnkr.co/edit/6e1qWK?p=preview

You might need to run change detection, but I am not sure.  Please create your plunker example, so that I can debug for you.

[2017-03-04 22:17] martinmanzo commented on #99
Yesterday I tried recreating the bug in plunker with no luck.
I could now.

https://plnkr.co/edit/t83FXjvp5k3dZHNwioMc?p=preview

As you can see the markers appears in the DOM but they don't get rendered.

[2017-03-04 23:25] allenhwkim commented on #99
@martinmanzo Thanks for making the example.
It's strange that marker is not initialized when itself is newly created for your case.
I also found another bug when you look into your issue.

I will get back to you when I make an effort on my end.

[2017-03-04 23:29] martinmanzo commented on #99
@allenhwkim sure thank you! Let me know if I can help you with this.

[2017-03-05 00:24] soyersoyer opened #100 "high cpu usage when opening info window multiple times"
When you open the info window multiple times, the browser uses more and more cpu.
https://plnkr.co/edit/UAspatwiHiz1gUX2nw9s?p=preview

I think it is related to the zone and the change detection.

[2017-03-05 03:12] allenhwkim commented on #100
@soyersoyer thanks for reporting this, but can you provide a screenshot of it. I just tried and could not find what you found.

[2017-03-05 03:19] allenhwkim commented on #99
Fixed, please verify

[2017-03-05 12:07] soyersoyer commented on #100
Sorry.
Steps to reproduce:
1. open the plunker
2. click on the show random markers
3. click all of the markers to open info window 10 times in various positions
4. watch your browser's cpu usage

when you repeat the 2. and 3. steps 4-5 times, your browser's cpu usage will be 20-30% constantly.

[2017-03-05 17:16] martinmanzo commented on #99
@allenhwkim it's working! Awesome work, thanks!

[2017-03-05 20:08] #99 closed

[2017-03-06 21:45] allenhwkim opened #102 "window is not defined error"
Exception: Call to Node module failed with error: ReferenceError: window is not defined
at new Ng2MapComponent (C:\path\node_modules\ng2-map\dist\ng2-map.umd.js:147:9)

I'm using the component, when I load the page I get this error
*ng2-map

https://github.com/ng2-ui/ng2-ui/issues/22

[2017-03-07 02:19] allenhwkim commented on #100
I have no solution at the moment. I may try infoWindow.close(), but I am not sure about it.

[2017-03-07 20:19] allenhwkim commented on #102
https://github.com/ng2-ui/ng2-map/commit/693882891947636ef911883273f46b45d4cbeb30

This has been fixed.

[2017-03-07 20:19] #102 closed

[2017-03-10 02:30] soyersoyer commented on #100
This is a google maps api issue, so I am closing here.
https://code.google.com/p/gmaps-api-issues/issues/detail?id=10025

[2017-03-10 02:30] #100 closed

[2017-03-10 13:10] sebastiaands opened #103 "Heatmap Layer error when emptying the points"
**Issue**
Since upgrading to version 0.15.x (and version 0.16.x), I have an issue with the Heatmap Layer. I have an array with Points that I use to populate the heatmap. The initial loading goes fine. When I reload the points, I first empty the array and then start populating it again. Prior to version 0.15.x this worked fine, but since version 0.15.x emptying the array gives the error below.

**S

[2017-03-10 14:34] allenhwkim commented on #103
@sebastiaands thanks for reporting this. Can you make a plunker example for this? You can simply fork this, https://plnkr.co/edit/6e1qWK?p=preview, and modify and save it to reproduce your issue.

[2017-03-10 14:39] yanqui92 opened #104 "Is there a way to use Marker Clustering"
Hi I wanted to know if I can use this:
https://developers.google.com/maps/documentation/javascript/marker-clustering
with this package.

[2017-03-10 15:22] sebastiaands commented on #103
Hm, unfortunately I can't get the heatmap to work on Plunker:

[2017-03-10 16:05] allenhwkim commented on #104
Currently, this feature is not implemented since this is not a Google maps API 3 official feature.

However, PR would be highly appreciated.

[2017-03-10 16:12] allenhwkim commented on #103
@sebastiaands thanks for it. I will look into the error message and get back to you.

[2017-03-10 17:59] allenhwkim commented on #103
Please test it with 0.16.3

[2017-03-11 12:44] day01 opened #106 "ng2-map aot compilation"
**Steps to reproduce and a minimal demo**
The main set for reproducing a problem - using the marker.
For reproduce, we need AOT compilation process.

**Current behavior**
AOT compilation in an external project requires visible properties. Based on your workaround for INPUTS properties I think it is necessary to use sth similar for OUTPUTS properties.
`
Error in bail mode: [at-loader] ./compiled/no

[2017-03-11 13:55] allenhwkim commented on #106
What is your ng2-cli version?

[2017-03-11 14:01] allenhwkim commented on #106
Regarding `Maybe it is time to add INPUTS and OUTPUTS as a normal variable instead strings?`,

I thought it seemed not DRY, but I might be also wrong for the sake of code organization.

Also it would require a lot of work to change all. I don't mind if someone make PR for this.

@ng2-ui/map what do you think about this change?

[2017-03-11 14:27] day01 commented on #106
"@angular/compiler-cli": "2.4.9",
"@angular/compiler": "2.4.9",

I don't have access to map :) (team members are private).

maybe it is duplicate strings :) but in this place, I think it will be better than dynamic assignment properties as
`OUTPUTS.forEach(output => this[output] = new EventEmitter());`
If you would like to use an array as the element of FOREACH (for a cleaner purpose it still will

[2017-03-14 14:23] sebastiaands commented on #103
Thanks @allenhwkim! The error has been resolved indeed. The only thing is that when changing the points array, the changers aren't reflected in the heatmap. That used to work... That might be the same issue why those points didn't appear in my Pluncker example? Thanks for looking into this!

[2017-03-17 11:58] sebastiaands commented on #103
Hi @allenhwkim , to elaborate a bit: once I update the `points` array, the log says:
[code]
But the heatmap remains empty.

[2017-03-17 12:14] sebastiaands commented on #103
Hi @allenhwkim , I got it to work. Thanks for the initial fix!

[2017-03-17 12:14] #103 closed

[2017-03-20 12:29] aitboudad commented on #106
AOT work as expected to me, @day01 can you please make the changes to reproduce your issue?

[2017-03-20 19:26] day01 commented on #106
maybe a dirty solution but I reproduce an error:
https://github.com/day01/ng2map_aot_bug

commands:
yarn
`npm run build:aot`

Let me know if you find sth.  I hope there is a bug on my side.

[2017-03-22 00:55] alexabbott commented on #106
markers are also not showing up for me using aot: https://github.com/alexabbott/music-map-v3

[2017-03-24 19:59] sauravMSFT opened #112 "google not defined error in simple example"
google not defined when setting map options like
[code]

Steps to reproduce and a minimal demo

  - _create a sample app_
  - _try to set option like zoomControlOptions or others which are from ```google namespace```

[2017-03-24 20:02] allenhwkim commented on #112
google api is not downloaded when executes. Please include google api in ur index.html or do it with lazy loading.

[2017-03-24 20:02] #112 closed

[2017-03-24 22:50] IAMtheIAM opened #113 "TypeError: Cannot read property '__e3_' of undefined (DrawingManager)"
The drawing manager produces the following error after creating any shape:
`TypeError: Cannot read property '__e3_' of undefined`

I cloned your repo, `npm i`, `npm build:app`, `npm start`
Navigate to DrawingManager page. Draw any shape, circle, polygon, square.
Error occurs when shape is completed.

[2017-03-24 23:05] IAMtheIAM opened #114 "How do we use OptionBuilder to set controlPosition?"
What is the proper way to use the `OptionBuilder` class in order to set an option such as `ControlPosition` to `TOP_CENTER`?

[2017-03-25 00:36] allenhwkim commented on #113
Did you include drawing library?

[2017-03-25 00:37] allenhwkim commented on #114
TOP_CENTER should work as it is

[2017-03-25 01:49] allenhwkim commented on #113
I can reproduce the error.

[2017-03-25 02:56] allenhwkim commented on #114
I was wrong, not working.

[2017-03-25 21:30] allenhwkim commented on #114
I was wrong about that I was wrong :(. It seems working fine with me. If this does not work, please re-open this with a plunker example.
[code]

[2017-03-25 21:30] #114 closed

[2017-03-27 15:50] IAMtheIAM commented on #113
@allenhwkim Thank you! I can confirm this has fixed the error. The new code does not allow for selecting and deleting the markers now, not sure if that was your intention. Either way it is easy enough to change. :-)

[2017-03-27 15:50] #113 closed

[2017-03-27 15:51] allenhwkim commented on #113
@IAMtheIAM hmm, it should allow select and deleting it. I might not have built and pushed.

[2017-03-27 16:14] IAMtheIAM commented on #114
Yes, works perfectly. Thanks again for the fast updates!

[2017-03-28 21:56] allenhwkim commented on #106
@alexabbott could you create a separate issue for that?

[2017-03-30 06:51] zealitude opened #117 "outdated import module name in readme"
import NguiMapeModule to your AppModule

[code]

[2017-03-30 14:40] allenhwkim commented on #117
@zealitude thanks for letting us know. It's been updated.

[2017-03-30 14:40] #117 closed

[2017-03-30 14:58] ziXet opened #118 "Marker Label does not work"
Marker directive ignores label.

**Steps to reproduce and a minimal demo**
Please take a look at this: https://plnkr.co/edit/mWHHRPJtBoOcIozOATjy?p=preview

**Current behavior**
It does not show the label "A" on the marker.

**Expected/desired behavior**
I expect to see "A" on the marker.

[2017-03-30 15:51] allenhwkim commented on #118
`[label]="'A'"`
or
     `label="A"`

[2017-03-30 15:51] #118 closed

[2017-03-30 19:14] Achint08 opened #119 "Web app not working"
**Current behavior**

  - https://rawgit.com/ng2-ui/map/master/app/index.html#/simple-map not working due to a bug in HTML Tags.

[2017-03-30 19:32] #119 closed

[2017-04-01 11:35] day01 commented on #106
https://github.com/day01/ng2map_aot_bug

Work correctly.

[2017-04-01 12:59] #106 closed

[2017-04-01 13:01] allenhwkim commented on #104
Anyone who is interested in OpenLayers clustering, please take a look this. https://rawgit.com/allenhwkim/react-openlayers/master/app/index.html#/custom/earthquake-clusters

[2017-04-02 18:20] ardywibowo opened #121 "Are Marker Updates Fully Supported?"
Hello,
I was just wondering if updating markers is fully supported in this project. In Plunker, I was able to hardcode a few points, and when an event is triggered (pressing a button) the marker position was successfully changed. However, when I change the number of points contained within the map, I received an error stating `Cannot read property 'match' of undefined`. I did this change by assign

[2017-04-02 19:14] allenhwkim commented on #121
Thanks for the question
Marker updates are fully supported by design
Please create a plunker example to illustrate your issue

[2017-04-02 19:31] ardywibowo commented on #121
I see. Thanks for the quick reply.
I just wanted some reassurance that this feature is supported. I assume it is supported for all layers such as the Heatmap Layer?

[2017-04-02 21:52] ardywibowo commented on #121
OK,
So I was able to recreate my issue here:

https://plnkr.co/edit/yXHIhJ?p=info

It seems that assigning a new array to positions produces an error, but if I just change the contents of the original array created, it is fine. Is this intentional?

[2017-04-03 01:50] allenhwkim commented on #121
Nope jot intentional

[2017-04-03 02:39] allenhwkim commented on #121
For your case, `this.test` actually does not exist.
[code]

[2017-04-03 02:39] #121 closed

[2017-04-03 16:41] ziXet opened #122 "Polyline strokeColor cannot be changed dynamically"
**Demo**
Please take a look at this Plunker: https://plnkr.co/edit/26RW7DJu8QWnRc4yWc4q?p=preview

**Current behavior**

  - Receiving error when the value of the variable that is assinged to strokeColor gets changed.

**Expected/desired behavior**

  - The color of the Polyline line should change

**Error**

  - TypeError: object[setMethodName] is not a function
    at Ng2Map.updateGoogleObject (

[2017-04-03 16:47] allenhwkim commented on #122
You can initialize it with all possible options. However, you cannot change all dynamically according to API.
https://developers.google.com/maps/documentation/javascript/reference#Polyline

Please use `setOptions` if not possible using the given API.

[2017-04-03 17:00] nm-saravanan opened #123 "ngui-map, error finding the current location"
Hi,
I am using v0.17.2 , some time i am getting error finding the current location.
NavigatorGeolocation service is used for getting the current location.
Please help me

[2017-04-03 17:35] allenhwkim commented on #123
I can help you only if you follow the issue style guide. Without the reproducible detail of your error, this issue will be closed soon.

[2017-04-03 18:22] ziXet commented on #122
Fair enough. setOptions did the job.

Thanks

[2017-04-03 19:30] allenhwkim commented on #122
I may use this opportunity to update error message, so that this kind of issues can be well-guided by the error message.
e.g.
`ERROR: Not all options are dynamically updatable according to Googles Maps API V3 documentation. Please use "setOptions" instead`

[2017-04-04 01:12] allenhwkim opened #125 "`console.log` upgrade"
We need to build a controlled `console.log`.

Here is the suggestion from Allen.

1. create an object `Konsole` at `@ngui/utils` with static variables
  * Konsole.LOG_LEVEL
  * Konsole.DEBUG

2. convert all `console.log` to `konsole.log`

The following is an example of `Konsole.ts`
[code]

[2017-04-04 01:13] allenhwkim commented on #125
@ngui/map please review this requirement

[2017-04-04 10:42] ghost opened #126 "ngModel"
Is possible to use ngModel for "info-window" tag?

[2017-04-04 13:59] allenhwkim commented on #126
Please be specific. I do not understand what you describe in this simple question.

[2017-04-04 16:50] IAMtheIAM commented on #125
Its a good method for doing it. I will discuss before making any PR in the future.

[2017-04-04 17:42] allenhwkim commented on #125
Thanks @IAMtheIAM README.md has been updated
![image](https://cloud.githubusercontent.com/assets/1437734/24670575/9811dba0-193c-11e7-8fcb-7d33b44deb37.png)

[2017-04-04 18:04] IAMtheIAM commented on #125
Very good, thank you :-)

If you need help with this `konsole.log` task, let me know and I will be of assistance where I can.

[2017-04-04 18:13] allenhwkim commented on #125
Let's discuss it little. Members may want it to be `logger` instead of
`konsole`.

On Tue, Apr 4, 2017 at 2:04 PM, IAMtheIAM <notifications@github.com> wrote:

[2017-04-05 04:44] zealitude commented on #121
@allenhwkim

How about this
https://plnkr.co/edit/MW6xYAhaQf1oGMz9sGsd?p=preview

using mapClick to call addMarker() will not trigger map update

[2017-04-05 09:42] anivaisu opened #127 "infowindow does not wrk"
Here is something I tried

This is my code:

<ngui-map center="Brampton, Canada">
    <marker #mrker position="Brampton, Canada"
      draggable="true"
      (click)="clicked($event)">
    </marker>
    <info-window id="iw">
      lat: [[lat]], lng: [[lng]]
    </info-window>
  </ngui-map>

import { Component,ViewChild } from '@angular/core';
import { NguiMapComponent } from '@ngui/map';
  @Compon

[2017-04-05 13:54] allenhwkim commented on #127
`this.ngMap`, where did you set the value of `this.ngMap`?

Please the example linked from README.md
https://rawgit.com/ng2-ui/map/master/app/index.html#/simple-info-window

[2017-04-05 15:49] IAMtheIAM commented on #125
In your other post you mentioned setting the log level like this:

1. konsole.LOG_LEVEL=konsole.DEBUG to control the logging level from console or the application

Where would one put that to set it from within their ng2 application, so that ngui/map knows how to pick it up? If its a global var, then I wonder if some people may already be using namespace `logger` for their own internal logging fun

[2017-04-06 01:04] allenhwkim commented on #125
@marrypen, vote for `logger`?
@IAMtheIAM, we need to instantiate `konsole` in the constructor. Using global variable is not recommended IMO.

[2017-04-06 01:04] #127 closed

[2017-04-06 01:05] allenhwkim commented on #127
closing this. Please reopen this if answer is not good enought.

[2017-04-06 16:17] olivermuc opened #128 "Triggering upfront loading of google maps libs / no lazy loading"
Hi!

Is there any (elegant) way to trigger **direct loading of the google maps libraries**, and not have them being loaded with the first map being displayed?

Reason being: I need to access google maps libs to gain distance information between two locations and am using directly, their `DistanceMatrixService()` function.

This happens when no map has yet been loaded, hence the need to trigger ear

[2017-04-06 17:18] allenhwkim commented on #128
https://developers.google.com/maps/documentation/javascript/tutorial

Please use script tag to load api.   If already loaded, ng2-map does not load again.
[code]

[2017-04-06 18:43] IAMtheIAM commented on #125
`import {konsole} from '@ngui/utils'` that is a good method, I would vote on that. (although I'm not a voting member yet). User can import into their `app.component.ts` and set it once for the app.

[2017-04-06 20:49] olivermuc commented on #128
Indeed, that's a possibility.
I was hoping to use an existing method/call, to avoid having to hardcode it into the html.

Ideally a config option as part of the app.module init.
Or even an explicit call from an early loaded component would do.

The hardcoding option, would be my last resort.

[2017-04-06 20:52] allenhwkim commented on #128
Please make use of this, https://github.com/ng2-ui/map/blob/master/src/services/api-loader.ts

[2017-04-06 21:08] olivermuc commented on #128
Browsing through the src code, I did see this service, but couldn't get it to load the libs.
Can you pls provide an example?
Thx.

[2017-04-08 18:17] miliu99 opened #129 "How to draw a shape?"
I got this error

[code]

here is my code:

[code]

This is basically the code from angular 1.x. Marker is working, but Shape causes errors. Isn't it supported yet?

[2017-04-08 18:40] allenhwkim commented on #129
There is no shape, but circle with @ngui-map

[2017-04-08 18:44] allenhwkim commented on #129
Setting properties are also different in angular2.

[2017-04-08 21:59] miliu99 commented on #129
Cool thanks. I also figured it out by reading the source code. BTW, I really like your package. It's much easier to use compared to others. Thank you very much sharing.

[2017-04-08 22:01] allenhwkim commented on #129
@miliu99 thanks. Could you add a star to this repo.?

[2017-04-08 22:03] allenhwkim commented on #128
It's exported, simple import will work. Oh. you got it.

[code]

[2017-04-08 22:03] #128 closed

[2017-04-08 22:04] #129 closed

[2017-04-08 22:15] allenhwkim commented on #122
Closing, please add a star to this repo if you want to recommend it to others.

[2017-04-08 22:15] #122 closed

[2017-04-15 20:13] simonh1000 opened #130 "InvalidValueError: setPosition: not a LatLng or LatLngLiteral: in property lat: not a number"
I'm stuck creating a simple marker. In my component I have

`resto  ={lat: 4.7, lng: 52.5}`

and in my html

[code]
but I end up with the error in the title, despipte passing floats. What have I got wrong?

[2017-04-15 20:18] allenhwkim commented on #130
@simonh1000 long time no see at issues :)

Let me see.

[2017-04-15 20:27] allenhwkim commented on #130
https://plnkr.co/edit/lsz0tQSJbbc9dIReTSlI?p=preview
It works fine for me. Please check your data again.

[2017-04-15 21:40] shermmyy opened #131 "Uncaught TypeError: Cannot read property 'HeatmapLayer' of undefined"
1.) When loading a heatmap-layer, I'm getting
"Uncaught TypeError: Cannot read property 'HeatmapLayer' of undefined"

Looking at other answers to this question, I need to add an external script:
https://maps.googleapis.com/maps/api/js?v=3&sensor=true

What is the correct way to load this in the correct order w/ this module?

[2017-04-15 22:02] #131 closed

[2017-04-15 22:02] shermmyy commented on #131
Libraries can be configured via the module apiUrl

[2017-04-15 22:07] shermmyy opened #132 "Unable to add points to heatmap"
<img width="650" alt="screen shot 2017-04-15 at 6 03 47 pm" src="https://cloud.githubusercontent.com/assets/5205459/25067063/0d1424d6-2206-11e7-9625-2479f5c67c85.png">

I want to add a point to the heatmap, but I am getting the error pictured above:

<ngui-map zoom="13" center="37.782551, -122.445368">
    <heatmap-layer [data]="points"></heatmap-layer>
</ngui-map>

addPoints(){
    this.points =

[2017-04-15 22:10] shermmyy commented on #132
Looks like the issue is that I need to pass in a google.maps.LatLng() Object rather than just a simple js object. How would I go about that?

[2017-04-15 22:30] #132 closed

[2017-04-15 22:31] shermmyy commented on #132
google object is defined after ready events....

[2017-04-15 22:51] allenhwkim commented on #132
If you want to load google object, load it as early as possible.

https://github.com/ng2-ui/map/issues/128

[2017-04-16 06:01] simonh1000 commented on #130
Hi, nice to speak again @allenhwkim. Could you take a look at https://plnkr.co/edit/HMH14FdElFQcZZVlLr5l?p=preview and press the move button as that's the error I am getting

[2017-04-16 08:15] simonh1000 commented on #130
Ok, so mirroring your pattern works
[code]
but is hardly intuitive. I guess there is supposed to be a different way to move an existing marker, and the method above works because it creates a new one.

[2017-04-16 09:52] simonh1000 commented on #130
Ok, I now recall that the key point in your library was that it provided access to the underlying google maps calls, so that e.g.

[2017-04-16 14:49] allenhwkim commented on #130
It seems there is an error with updating as an array.
You can still always go with Google Api's code
https://plnkr.co/edit/BlUI4tbRrxm8rLF3eTn5?p=preview

[2017-04-16 17:49] simonh1000 commented on #130
Ok, I'm fine. Do you want me to leave this issue open as a bug report on updating as an array?

[2017-04-23 14:01] comemanu opened #133 "Input "places-auto-complete" + <ngui-map> makes map not displayed."
Input with directive "places-auto-complete" in conjonction with a map
results with the map invisible.

We can see this behavior even in this demo :
https://rawgit.com/ng2-ui/map/master/app/index.html#/places-auto-complete

[2017-04-24 08:40] Delfimarime opened #134 "Its not a issue actually, Its a doubt. I am trying to use radius_change event of Circle without success could u display how to use it?!"
I HAVE THE FOLLOWING HTML
`
<div class=" justify-content-center">

  <ngui-map *ngIf="hasCenter()" center="{{center}}" (mapReady$)="onMapReady($event)"   zoom="14" class="m-1" >

    <marker [position]="center"  (click)="markerInfo($event.target)"></marker>

    <circle (radius_change)="radiusChange($event)" center="{{center}}"   [strokeOpacity]="0.9" [strokeWeight]="1" [editable]="true"

[2017-04-24 13:04] allenhwkim commented on #134
try this `(radius_change)="myevent($event)"`

[2017-04-24 13:22] Delfimarime commented on #134
Tried but still doesnt work!?!

[2017-04-24 14:32] allenhwkim commented on #134
https://developers.google.com/maps/documentation/javascript/3.exp/reference#Map
I don't see radius_change is an official event. Please use one of the official event

[2017-04-25 20:49] allenhwkim commented on #133
@comemanu thanks for reporting this. I thought I made a fix for this, but I will take a look into it again. @aitboudad do you have time?

[2017-04-26 09:27] aitboudad commented on #133
No, sorry!

[2017-04-26 13:09] adappter opened #135 "Custom Info Window with Button"
Hello,
I want to ask you if it's possible to listen for a button click inside an custom info-window:

` <info-window id="infoWindow">
        <ion-label>[[type]]</ion-label>
        <span>[[address]]</span>
        <span>[[description]]</span>
        <button ion-button color="danger" (click)="setToInactive()">Deactivate</button>
    </info-window>`

That how my info-window looks like but setToIna

[2017-04-26 13:57] jmlw commented on #133
I was just about to report this same issue. I created a plunkr to demonstrate the issue as well:

https://plnkr.co/edit/fiPfH9dLHQKxOibPjq76?p=preview

[2017-04-26 14:53] adappter opened #136 "Smooth animation for user location pin"
Hello again,

is it possible to have a smooth camera and pin animation when I'm using geolocations?
Currently it's laggy when the user moves and the map center position and pin postion are changing to the current user location.

Maybe there is a workaround or something else?

Thanks for your help

[2017-04-26 17:56] allenhwkim commented on #136
I am not aware of those functionality, and this module does not provide that functionality.

[2017-04-27 08:07] nm-saravanan opened #137 "Localizing the Map"
How can I dynamically localize the loading of google map api.
Please help

[2017-04-27 14:10] allenhwkim commented on #137
Out of scope,
please check google api v3 for localization.

[2017-04-27 14:10] #137 closed

[2017-04-29 10:50] yasserelsayed commented on #133
if you switch it and put your map before autocomplete input it will work good :)

[2017-05-01 03:17] jmlw commented on #133
A viable workaround, it also points to the likely hood that this issue is caused by an ordering problem loading the google maps API and or the modules loaded by the API. Looking back at the commit history for when this issue happened previously, there was some rework around how the google maps API was loaded, and how a reference to it is stored. I haven't had enough time to dig in, but it looks li

[2017-05-01 09:49] aitboudad commented on #133
Hi, I'll try to find a solution today, stay tunned!

[2017-05-01 14:41] aitboudad commented on #133
see #138

[2017-05-01 16:24] #133 closed

[2017-05-02 12:48] adappter commented on #135
No one?

[2017-05-04 12:29] Creiger commented on #136
Hi as for pins it is possible to make it change location smoothly if you add css transition for it. I am not sure about map, but i would also try adding transition css to some container.

[2017-05-05 22:44] davingreen commented on #135
Bump. Same question:
`<info-window id="iw">
     <button md-button (click)="callbackTest('test')">Test</button>
 </info-window>`

Doesn't seem to do anything.

[2017-05-05 23:43] viztastic commented on #104
@allenhwkim Google seem to now document it as a [standard feature](https://developers.google.com/maps/documentation/javascript/marker-clustering) of their maps API using this [utility](https://github.com/googlemaps/v3-utility-library/blob/master/README.md) of theirs

Would be great if we could integrate this into the library. I'd be happy to help with documentation  or your sites UX (as I'm not a

[2017-05-06 15:44] adappter commented on #135
The problem ist, that the info-window scope is not the angular scope. that's why the button doesnt call the function. I don't have a workaround or idea for that.

[2017-05-06 17:09] aitboudad commented on #135
Currently not supported, next week I'll try to work on it.

[2017-05-09 10:54] trungk18 opened #139 "Unable to fetch package from npm"
**IMPORTANT**
Trying to fetch @ngui/map from npm but getting an error

**Steps to reproduce and a minimal demo**
1. Run command `npm install @ngui/map @types/googlemaps --save`

2. Getting error
[code]

[2017-05-09 18:27] kapocius commented on #104
@allenhwkim so is this in the works maybe?

[2017-05-10 11:14] yogeshpaisode opened #140 "How to change center dynamically ??"
I am adding new set of markers. How can i show them in the center of map.

Thnx

[2017-05-11 01:24] allenhwkim commented on #104
@kapocius It's not still under development since marker cluster is not a standard feature, but a community code.

[2017-05-11 01:25] allenhwkim commented on #140
Please take a look at the example linked from README.md

https://rawgit.com/ng2-ui/map/master/app/index.html#/marker-ng-for

[2017-05-11 01:25] #140 closed

[2017-05-11 10:42] yogeshpaisode opened #141 "How to resize Google Map ??"
I would like to resize google map dynamically. How can i achieved that

[2017-05-11 14:02] JulioWar commented on #141
Hello @yogeshpaisode, I found a solution in the source code.

For the component `ngui-map` exist a event `mapReady$`. You can use this event to initialize a variable in your component and then make a function to trigger the resize event. this is my example:

### VIEW
[code]
 ### COMPONENT
[code]

[2017-05-11 14:42] #135 closed

[2017-05-11 14:50] davingreen commented on #135
@aitboudad So can we use (click) events within an info window now? Or is that declared not possible?

[2017-05-11 14:51] aitboudad commented on #135
yep see the example https://github.com/ng2-ui/map/blob/master/app/map-components/simple-info-window.component.ts

[2017-05-11 16:04] allenhwkim commented on #135
@aitboudad I have granted access to @ngui/map. Now you can publish it, I think.
Can you verify it?

[code]

[2017-05-11 19:30] aitboudad commented on #135
@allenhwkim Thanks I'd give a try tomorrow!

[2017-05-12 10:00] aitboudad commented on #135
published under `0.18.0`

[2017-05-12 14:33] moskam commented on #123
I've encountered same error, it was just an authorisation issue with google service. But I was getting exactly same massage thrown from this file:
https://github.com/ng2-ui/map/blob/master/src/directives/marker.ts
so I went to that file
`node_modules/@ngui/map/dist/directives/marker.js`
and added `console.log(error)` in lines 68 and 78 (version 0.18.0) to find out I'm getting error "User denied Ge

[2017-05-12 16:25] allenhwkim commented on #125
@IAMtheIAM sorry, no progress yet. too busy dealing with bill-paying job.

[2017-05-12 19:17] water42 opened #143 "addGeoJSON vs loadGeoJSON"
**Steps to reproduce and a minimal demo**

  - https://rawgit.com/ng2-ui/map/master/app/index.html#/data-layer
  - replace url with geoJSON object from URL

**Current behavior**

- does not work with geoJSON object
  -  this is because only loadGeoJSON is implemented, which allows geojson to be loaded from a URL

**Expected/desired behavior**

  - addGeoJSON should be supported if the input is an

[2017-05-12 19:44] water42 commented on #143
I submitted a PR here https://github.com/ng2-ui/map/pull/144 but it has a breaking change

Let me know if this is within the scope of the project

[2017-05-15 10:06] nguyendangdung commented on #74
I realized that initialized function will not be called if the page is navigated to using routerLink. is this a bug or by design?

[2017-05-15 10:19] aitboudad commented on #74
@nguyendangdung can you open a new issue with a reproduction example, thanks!

[2017-05-15 19:05] #143 closed

[2017-05-16 12:31] moskam opened #146 "Grey map on modal view"
When map is opened in bootstrap modal window it's grey.

**Steps to reproduce and a minimal demo**
https://plnkr.co/edit/3jQXbW0dISiLdJe4yCdL?p=preview

**Current behavior**
Open modal and see grey map
![image](https://cloud.githubusercontent.com/assets/4164631/26105796/cfd83534-3a43-11e7-8a29-6d4e0ec035ad.png)

**Other information**

Probably it's related to resizing of the map, this problem was

[2017-05-16 14:58] aitboudad commented on #146
@moskam can you test if #147 solve the issue, please!

[2017-05-17 12:48] Leanvitale commented on #146
Hello! i have the same problem, how i solve?

[2017-05-17 13:08] Leanvitale opened #148 "replicate directions of list with 10 location in Angular4"
Hello! I try replicate this example in my project:

https://ngmap.github.io/#/!directions.html

I need to create the directions of a list with 10 locations, one behind another. How can I replicate this in Angular4? Because I think the example is in Angular.

Thanks!

[2017-05-17 13:47] allenhwkim commented on #148
You need to write your own. The example is Angular1, and this component is written in Angular2. Although it's Angular, they are very different each other.

[2017-05-17 13:47] #148 closed

[2017-05-17 14:02] aitboudad commented on #146
@Leanvitale just update your package into `0.18.1`

[2017-05-17 14:04] #146 closed

[2017-05-17 14:59] allenhwkim commented on #146
Thanks @aitboudad

[2017-05-17 15:31] Leanvitale commented on #148
Exactly, I need it for Angular. Is there no example I can follow? I do not know how to do it

[2017-05-17 15:43] Leanvitale commented on #146
Thank you very much! It worked

[2017-05-17 17:51] allenhwkim commented on #148
Sorry, there is no example so far.

[2017-05-17 19:20] Leanvitale commented on #148
And when could there be an example of that style? I need it too much

[2017-05-17 20:29] allenhwkim commented on #148
No plan so far.

[2017-05-19 12:39] Leanvitale opened #149 "Remove options from map"
Hello! I need remove all controllers from map, only need the zoom controller. How i can remove?
Thanks

[2017-05-19 20:01] jaufgang opened #150 "Doesn't allow numeric marker label... even if its passed a string containing a number"
When specifying a marker with a numeric label, the label doesn't appear, and error messages shows up in the console
```InvalidValueError: setLabel: not a string; and no text property```

This error occurs even if i explicitly convert the number to a string like so:
[code]

This should just display the label string as passed, especially if it is passed a string.
It would be convenient if it could a

[2017-05-21 12:33] aitboudad commented on #125
instead of adding `konsole` I propose to remove console during our build see #151

[2017-05-22 08:42] moskam commented on #146
Yes, that seems to be solved, Plunker example works now, THANKS!!!

[2017-05-22 21:55] vanderburg opened #152 "Pushing to polyline array doesn't update in map"
If I have a map with a polyline:

`<polyline *ngIf="polylinePath?.length > 3" [path]="polylinePath"></polyline>`

I push to that array, polylinePath, and once I get the 4th element in there, the polyline is drawn, as I expect (Just using > 3 as an example, will happen with any value), but any new pushes won't be rendered. In the console, "Polyline initialization options" will show the full array,

[2017-05-23 04:43] vanderburg commented on #152
I was able to create an ugly workaround with the following:

[code]

This way as the length changes from an even to odd number, one polyline is removed and a new polyline with the points is added to the dom, which renders normally, as previously indicated. I don't like this workaround and I'm still convinced I'm doing something wrong with the way I was originally attempting to do this.

[2017-05-24 06:09] vanderburg commented on #152
I realized I can track the object with `initialized$` and edit the polyline object directly, but that looks like it could get complicated when you have an unknown number of polylines, potentially having to use some kind of lookup table to track them all.

Kind of an ugly method. Ideally, I would push to my array bound to `[path]="array"` to have the object update and then use the different `(event

[2017-05-24 18:23] AJRdev commented on #150
Hi,
I tried something like that before and I couldn't call the function `toString()` from the attribute directly, what I did is calling a function in my component that did the same thing :

[code]

That did the trick, I think it's a problem of scope that you have here.

Let me know how it goes !

Regards,
Andre.

[2017-05-24 18:35] jaufgang commented on #150
No, it's not a problem calling the toString() function.
I was able to find a workaround by calling
`[label]="(i + 1).toString()+'\u200b' "`

`\u200b` is a zero-width-space character.  Appending that to the string prevents the string being converted back into a number and the label displays just fine.

The problem is that the component for some reason converts the value into a number and throws an

[2017-05-24 18:41] AJRdev commented on #150
Oh allright my bad, glad you found that trick to fix it !

It's pretty weird that the component has that kind of behaviour though ..

[2017-05-24 18:41] jaufgang commented on #150
Yup.

[2017-05-24 20:19] allenhwkim commented on #150
@AJRdev ngui/map does not have parser for each Google object. It's for both users and for developers. It assumes that all Inputs are google object and try to parse everything as Google options.

https://github.com/ng2-ui/map/blob/master/src/services/option-builder.ts#L57

You are seeing is the side effect of `JSON.parse('1')` -> 1
Of course, label must be string. For that case, we need to have an

[2017-05-24 22:57] AJRdev commented on #150
@allenhwkim Oh ok thanks for these clarifications ! I understand now why the parser had this kind of behaviour !

[2017-05-31 09:19] OscarCenito commented on #152
Any updates on this? Having the similar problem.

[2017-05-31 14:44] levarcooper opened #153 "Fit Bounds"
I'm rendering polylines and I'm unsure how to use fitBounds() with an instance of ng2-map.

[2017-06-01 03:32] vanderburg commented on #152
I'm not the most skilled coder ever, so this might be inefficient, but, this is how I'm handling it. In my view, have the following:

`<polyline *ngIf="control.object.positions?.length > 0" [path]="control.object.positions" [geodesic]="true" (initialized$)="onPolyInit($event, 'myObject')"></polyline>`

In my model, I have this:

[code]

There's a few things going on here. First, this.control.objec

[2017-06-01 07:15] OscarCenito commented on #152
Thanks for the reply, though it feels incredibly unreliable to start using properties like "newMyObjectArray.b[i].lat()".  It would be great if it just worked out of the box, since it is a normal binding in angular, and you shouldn't have to do ugly hacks around it. Or if it doesn't work, a refresh function on the polyline object would suffice, to just set the path again.

[2017-06-01 13:18] ramrealpage opened #154 "how to display info window on click of custom marker"
I am trying to use custom marker and want to show info window on click of custom marker. But not able to show. is there any way I can achieve this.

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
open the custom marker example and click on marker and add info window. info window is not displayed.
  - _Plunker example_
  - _If you cannot r

[2017-06-01 15:29] santiago-alvarez-ruiz commented on #154
Same issue here. :(
I tried with the normal markers code, but it does't work.

[2017-06-03 02:41] vanderburg commented on #152
To help clean this up, I discovered that there's a `getAt()` method, so you can instead use `newMyObjectArray.getAt(i).lat()`, etc, instead of accessing that `b` property directly. This is the functional equivalent to `event.getPath().getAt(i).lat()` and takes a numerical index as an argument.

I can easily remove points with the `removeAt(index)` method on polylines, but now I'm having some troub

[2017-06-05 12:28] #153 closed

[2017-06-07 12:20] mihirkadve opened #155 "Google Maps API error: MissingKeyMapError"
![issue](https://user-images.githubusercontent.com/25790817/26878055-bbd44fb0-4ba9-11e7-92cd-6250202145ad.PNG)

[2017-06-07 12:40] aitboudad commented on #155
you must provide the api key from google map:

[code]

[2017-06-07 12:49] mihirkadve commented on #155
My app.module.ts file

-----------------------------------------
import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { HttpModule } from '@angular/http';

import { AppComponent } from './app.component';
import { RouterModule, Routes } from '@angular/router';
import { MapComponent } from './map/map.component';
import { AppRoutingModule } from

[2017-06-07 12:55] aitboudad commented on #155
check you debug console to know what's going wrong, you should see something like:
[code]

[2017-06-07 12:59] mihirkadve commented on #155
![issue1](https://user-images.githubusercontent.com/25790817/26879544-1763ebba-4baf-11e7-84d1-68b11f7164e7.PNG)

Please Check this out .
Thank you .

[2017-06-07 13:31] aitboudad commented on #155
Did you include google map script in other places ? as I see the passed url through NgMapConfig is different than the one displayed in console `libraries=drawing`

[2017-06-08 10:59] mihirkadve commented on #155
OK  Done.
 Thank You

[2017-06-08 11:06] mihirkadve opened #156 "Polygon Click Event"
![issue6](https://user-images.githubusercontent.com/25790817/26925623-18cb494e-4c68-11e7-814a-be1137203c66.PNG)
![issue4](https://user-images.githubusercontent.com/25790817/26925624-18ccd75a-4c68-11e7-9d55-263a3e1c4671.PNG)
![issue3](https://user-images.githubusercontent.com/25790817/26925625-18d49512-4c68-11e7-8658-1e0b5c7447f6.PNG)

the Polygon is set correctly but when i try to retrieive polygo

[2017-06-08 11:36] OscarCenito commented on #152
Hey. I solved this issue by cloning the path and reassigning it, then the angular-binding updates the path on the map.

` this.path = _.clone(this.path);`

Hope this helps you.

[2017-06-08 12:14] #155 closed

[2017-06-08 16:17] becerriljc opened #157 "LIMIT TO 10 POSITIONS IN MARKER"
hello, i am using @NGUIMAP but in markers only i can display 10 fields. why?

<marker
                    *ngFor="let item of gatewaysMovil"
                    position="{{item.loc}}"
                    [icon]="item.img"
                    (click)="showIWindow($event, item)">
 </marker>

[2017-06-08 20:25] allenhwkim commented on #157
I assume your location is not LatLng, but a string, which causes google geo api to be called. Google geo api has its usage limit. Please use LatLng if you want to display unlimited positions

[2017-06-08 21:56] vanderburg commented on #152
Does this fire the initialized event again so you don't lose the listeners?

[2017-06-09 07:50] mihirkadve opened #158 "Getting Polygonal Paths"
whenever i click on any polygon i get only first polygons paths .
Please Help

[2017-06-09 07:57] mihirkadve commented on #62
not able to get paths of clicked polygon on polygon click,
 getting value of first polygon on whichever polygon i click .

Please Help.

[2017-06-09 14:37] rammohan201 opened #159 "NgUiMap and NgUiMapComponent objects are always available in memory"
Each visit to maps page is creating new instance of NgUiMap and NgUiMapComponent. This is creating memory leaks. Is this already known issue?

**Steps to reproduce and a minimal demo**
Add Map in a page, an application having two atleast two routes.  visit the map page multiple times, check the number of instances of NgUiMap and NgUiMapComponent in memory tab. count is increasing each time.
**Curr

[2017-06-09 15:09] aitboudad commented on #159
just tested on my side and it appear that `NgUiMap` and `NgUiMapComponent` cleaned up (see the screenshot)
![selection_096](https://user-images.githubusercontent.com/1753742/26981659-5b4aeb2c-4d25-11e7-940c-e816b53121af.png)

please ensure you use the latest version `0.18.1`

[2017-06-09 15:18] ramrealpage commented on #159
![image](https://user-images.githubusercontent.com/28886658/26982082-dafa6616-4d54-11e7-8e39-4bb77f1ee748.png)
Please look at this image there are multiple instances of NgUiMap and NgUiMapComponent

[2017-06-09 15:19] ramrealpage commented on #159
I am using "@ngui/map": "^0.18.1" in my package json

[2017-06-09 15:20] ramrealpage commented on #159
![image](https://user-images.githubusercontent.com/28886658/26982200-419786b0-4d55-11e7-85dd-417507ea085f.png)
does it mean, some where in the API, reference is retained?

[2017-06-09 15:23] aitboudad commented on #159
to know if object is retained or not you should try `comparison`:

![selection_097](https://user-images.githubusercontent.com/1753742/26982330-9f633aa6-4d27-11e7-8ae4-4a858fa9f44f.png)

[2017-06-09 15:28] ramrealpage commented on #159
I can clearly see, number of instances are increasing for each visit of my maps page. when I navigate from maps page to other page, snapshot shows the NgUiMap and NgUiMapComponents, I feel they should have been cleaned up.  This is the clean up code I wrote in ngOnDestroy method.
should I handle anything specifically?
oogle.maps.event.clearListeners(this.map, 'markerClicked');
    google.maps.even

[2017-06-09 15:32] ramrealpage commented on #159
I am using  below code
<ngui-map [options]="mapOptions" [center]="mapOptions.center" [zoom]="mapOptions.zoom" (window:resize)="onResize($event)"
  (mapReady$)="onMapReady($event)" [ngStyle]="{height:mapOptions.height,width:mapOptions.width}"

<marker *ngFor="let m of markers" [position]="m.position" [icon] ="m.iconUrl" (click)="onMarkerClick($event)"  (initialized$)="onInitialized($event)"></marke

[2017-06-09 15:37] aitboudad commented on #159
I can help only if you provide me a repo which demos the behavior

[2017-06-09 15:45] rammohan201 commented on #159
![image](https://user-images.githubusercontent.com/12894116/26983116-43f09f02-4d58-11e7-9391-af0b21ae03ef.png)
We can recreate this issue using demo examples. first click on street view then check the NgUiMap and NgUiMapComponent count then click on heat map then check then grab the heap snapshot and check the count. I could see count is increased. Please find Image
https://rawgit.com/ng2-ui/map/m

[2017-06-09 15:51] aitboudad commented on #159
I'm able to reproduce it now, I'll look into it soon!

[2017-06-10 04:25] rammohan201 commented on #159
I want to work with you to fix this issue. let me know if needed.

[2017-06-10 04:31] aitboudad commented on #159
I didn't started yet on this, so why not!
PR welcomed ;)

[2017-06-10 04:34] rammohan201 commented on #159
I feel it will take time for me to fix this issue. But I need this fix
urgently.

On Sat, Jun 10, 2017 at 10:01 AM, Abdellatif Ait boudad <
notifications@github.com> wrote:

[2017-06-10 04:50] aitboudad commented on #159
Don't worry I'll try to find some time early today to fix that issue.

[2017-06-10 05:31] rammohan201 commented on #159
ok. thank you

On Sat, Jun 10, 2017 at 10:20 AM, Abdellatif Ait boudad <
notifications@github.com> wrote:

[2017-06-10 06:38] #158 closed

[2017-06-10 06:38] #156 closed

[2017-06-10 15:55] aitboudad commented on #159
fixed in #160

[2017-06-10 16:21] rammohan201 commented on #159
Thank you. How can I use this code fix?
I see the pull request is still open.

[2017-06-10 16:30] aitboudad commented on #159
just update to `0.18.2`

[2017-06-10 16:30] #159 closed

[2017-06-10 16:51] #125 closed

[2017-06-11 03:30] rammohan201 commented on #159
do I need to write any clean up code in my component? cause still objects are not cleaned up in my project even after updating to 0.18.2. it is working in demo application of this git repo.

[2017-06-11 05:56] rammohan201 commented on #159
Hi,
street view is having memory leaks. First launch the street view and then navigate to some other map say map with markers.
streetview map instances are not cleaned up
![image](https://user-images.githubusercontent.com/12894116/27008742-a50dbf2c-4e98-11e7-918c-8ddcdc2b3cad.png)

[2017-06-11 06:00] rammohan201 commented on #159
Hi, the issue still exists in street view maps. can you take a look?

On Sat, Jun 10, 2017 at 10:00 PM, Abdellatif Ait boudad <
notifications@github.com> wrote:

[2017-06-11 11:26] aitboudad commented on #159
fixed in `0.18.3`, please check it and let me know if it's resolved.

[2017-06-13 14:49] ramrealpage opened #163 "Memory Leaks in map components"
When we navigate from one maps page to another old objects are not cleaned up. The count of Objects count is increasing every time. Issue 159 was about NgUiMap and NgUiMapComponent, but there are many other zone tasks which are not cleaned up, though they dont have reference in dom, but the objects still have the data in them.

Open the Memory tab in Developer Tool, use demo applications given in

[2017-06-13 15:05] rammohan201 commented on #159
There are still memory leak issues are available, do you have time to check
those issues? issue no#163

On Sun, Jun 11, 2017 at 4:56 PM, Abdellatif Ait boudad <
notifications@github.com> wrote:

[2017-06-13 15:18] aitboudad commented on #159
not right now, maybe at the weekend

[2017-06-13 15:37] allenhwkim commented on #163
FYI, Google Map itself has memory leak.https://stackoverflow.com/questions/21142483/google-maps-js-v3-detached-dom-tree-memory-leak.

FYI, I have tried to go around this, but I realized that approach make code so dirty.

[2017-06-13 17:02] rammohan201 commented on #159
Ok.. is it possible to give some idea how to clean up zone tasks ?
Thanks

On 13-Jun-2017 8:48 PM, "Abdellatif Ait boudad" <notifications@github.com>
wrote:

[2017-06-13 17:14] ramrealpage commented on #163
Oh ok. Then what do you suggest? We can't fix it now?
__________Ur______________________________
From: Allen Kim [notifications@github.com]
Sent: Tuesday, June 13, 2017 9:07 PM
To: ng2-ui/map
Cc: Ram Arabiri; Author
Subject: Re: [ng2-ui/map] Memory Leaks in map components (#163)

FYI, Google Map itself has memory leak.https://stackoverflow.com/questions/21142483/google-maps-js-v3-detached-dom-tree

[2017-06-13 17:20] becerriljc opened #164 "MarkerCluster"
Hi!! with @ngui/map, Is there someone way to implements clustermarkers??

regards!!

[2017-06-13 17:21] #157 closed

[2017-06-13 19:06] aitboudad commented on #159
basically `ngZone.runOutsideAngular` can clean up zone tasks but I'm not sure

[2017-06-15 07:14] ancientbag opened #166 "How do I get house information using my marker?"
I have some markers on houses, and I made a simple infowindow when clicking on them.
But it only displays "lat" and "lng" properties, so how do I get street and number of house via marker?
I've tried to use on marker click
`onMarkerClick = function(marker){
        console.log(marker.target.getPlace());
}`
but this returns 'undefined'

[2017-06-15 12:45] ravivit9 opened #167 "ACCESSING MAP OBJECT WITHIN PROMISE OR .THEN FUNCTION SUCCESS"
How to access map instance and map marker within a construction function promise success part.  I am using geoFire to create markers on number of events like key_entered (add marker), key_exited (remove marker) etc.,

I am a bit struggling to get hold of map object within the geofire .then function and within that geoQuery.on() as listed below.

**Current behavior**
Unable to access map object wit

[2017-06-15 14:54] allenhwkim commented on #166
Plz take a look at this.
https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse

[2017-06-15 16:07] minortom opened #168 "Use the method: getPhotographerPov()"
I got the Streetview Panorama [example](https://rawgit.com/ng2-ui/map/master/app/index.html#/street-view-panorama) running. I'm facing the problem that I can't find how to change the "pov" to use the  [**getPhotographerPov()**](https://developers.google.com/maps/documentation/javascript/streetview#StreetViewLocation) method.

The example code:
` <h1>Simple StreetView</h1>
  <ngui-map zoom="14" cen

[2017-06-15 17:53] allenhwkim commented on #168
Try to use `setPov(StreetViewPanorama.getPhotographerPov())` function manually

[2017-06-15 18:01] minortom commented on #168
Thank you for your reply. I have trouble obtaining the StreetViewPanorama object.
This is my code:
`import { Component } from '@angular/core';
import { Platform } from 'ionic-angular';
import { ApiService } from '../../../app/services/api.service';
import { IonicPage, NavController, NavParams } from 'ionic-angular';
import { LoadingController } from 'ionic-angular';
import { Observable } from 'rxj

[2017-06-15 19:01] jaufgang opened #169 "marker disappears after a few seconds if binding it's position with [options]"
When creating a marker using the following syntax:

[code]

[2017-06-15 19:55] minortom commented on #168
Found the answer:

[code]

I did it via the StreetViewService. Found it [here](https://stackoverflow.com/questions/7068365/getting-the-pov-for-google-streetview-api)

[2017-06-16 09:15] #136 closed

[2017-06-20 08:58] rpampatiaxio opened #170 "Nearest Street View Preference"
How do i set Street view preferences to find the nearest street view available and with in a certain radius when street view is not available for provided LatLng?

[2017-06-20 10:49] ramrealpage opened #171 "is there way to specify radius in streetview map?"
google maps api has radius option to specify so that nearby street view will be rendered if there is no street view for exact coordinates.
how can we achieve the same using this api?

[2017-06-20 10:50] #171 closed

[2017-06-20 13:43] allenhwkim commented on #170
Try position with "current position"

position="current position"

[2017-06-21 07:10] aishacharya opened #172 "OnMapclick issues"
I have embedded ng2-ui/ map component in my ionic app.
I need an option for the displaying google maps(a different map window) with directions to the point i have assigned as marker when clicked on the marker.

I have used the map element inside a card with a provision of displaying multiple map elements with respect to the longitude and latitude from the location array.
<ngui-map [zoom]="15" [cen

[2017-06-21 12:54] ramrealpage commented on #170
@allenhwkim
is there way to do something like this shown in below jsfiddle? radius needs to be passed to streetviewservice, when we use this api, control is with the api.
https://jsfiddle.net/vjpLxdah/

[2017-06-21 12:55] ramrealpage commented on #170
it does not work using position

[2017-06-21 14:08] allenhwkim commented on #170
Try this way.

https://rawgit.com/ng2-ui/map/master/app/index.html#/map-with-streetview

[2017-06-21 16:07] ramrealpage commented on #170
it is not possible  to send radius using this example and this example shows map and street view same time. this does not work

[2017-06-21 19:30] Leanvitale opened #173 "get State and Locality with LatLng"
I need get State and Locality with LatLng, this is posible?
Thanx

[2017-06-21 20:24] allenhwkim commented on #173
Please research google maps api v3. this module does not provide reverse geo-coding service, but google does.

https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse

Closing this out of scope.

[2017-06-21 20:24] #173 closed

[2017-06-21 21:25] #168 closed

[2017-06-29 15:57] ranouf opened #174 "ngui-map: Error finding the current position"
Hi

If the user doesnt allow to access to his current position, I have this error message:
ngui-map: Error finding the current position

Is there a way to fix it?

[2017-06-29 17:19] jgarbora opened #175 "Is it possible to show multiple KML layers ?"

[2017-06-29 22:55] allenhwkim commented on #174
AFAIK, no.
If user does not allow to access the current position, it's not possible to find the current position. There is fallback for it though `geoFallbackCenter`.

[2017-06-29 22:59] allenhwkim commented on #175
Haven't tried to load multiple KML layers. It's not working? https://developers.google.com/maps/documentation/javascript/examples/layer-kml

[2017-06-30 07:08] jgarbora commented on #175
I couldn't figure out syntax in the <ngui-map ...
I tried
<ngui-map zoom="5" center="{{lat}}, {{lng}}" style="height:850px;">
      <kml-layer url="{{currentLayer}}"></kml-layer>
      <kml-layer url="{{currentLayer2}}"></kml-layer>
...
but didn't work.

[2017-06-30 19:30] veso266 opened #176 "How to style Info Window"
Hi I would like to know how can I style Info Window
I declare Info Window like this:
`<info-window id="iw" class="stil">`
`            <div *ngIf="marker.display" class="test">`
`                <h1 class="temperatura"><i class="wi wi-yahoo-{{Vreme}}" aria-hidden="true"></i><span` `class="stopinje"> {{vremePodatki}}&deg;C</span></h1>`
`                <h3 class="lokacija"><i class="fa fa-map-marke

[2017-07-05 17:11] druedaplata opened #177 "Access google object"
Is it possible to access the google object from within a component?

I am trying to get it use it in this way
`sv = new google.maps.StreetViewService();`

and I am getting a
`ERROR ReferenceError: google is not defined`

[2017-07-07 01:20] vanderburg commented on #177
I'm told if you add the <script> tag importing the Google Maps JS API in your index.html file, Angular2 Google Maps won't load it a second time and you'll have access to the google object right away.

[2017-07-13 19:24] becerriljc opened #179 "ngFor Circle and remove Circles"
Hi, iam trying use a ngFor to Circle tag and not work, can you help me with any idea?

Thanks
  -

[2017-07-14 13:48] manoj-netlings opened #180 "HeatmapLayer issue"
hi i am trying to implement heat map layer but i am getting this issue "Cannot read property 'HeatmapLayer' of undefined" can you please help me out

Thanks

Manoj

[2017-07-17 09:40] manoj-netlings commented on #180
@aitboudad

[2017-07-17 10:04] aitboudad commented on #180
you should include `visualization` library in your google map url, see https://github.com/ng2-ui/map/blob/master/app/main.ts#L29-L32

[2017-07-17 10:07] aitboudad commented on #179
Hi, can you provide us a [plunker example](https://plnkr.co/edit/6e1qWK?p=preview) that reproduce your issue thanks.

[2017-07-17 10:10] aitboudad commented on #177
@druedaplata `google` is defined global and can be accessed anywhere you just need to make sure is fully loaded see https://github.com/ng2-ui/map/blob/master/src/components/ngui-map.component.ts#L91

[2017-07-17 10:29] manoj-netlings commented on #180
The library is added but it is not working i am using agm also

[2017-07-17 10:33] aitboudad commented on #180
ok can you provide us a reproduction issue using the following plunker example https://plnkr.co/edit/6e1qWK?p=preview

also make sure you use the latest version :) + check the example: https://rawgit.com/ng2-ui/map/master/app/index.html#/heatmap-layer

Thanks!

[2017-07-22 05:50] ReneRautenbach opened #181 "componentRestrictions on Place Autocomplete Address Form"
[https://plnkr.co/edit/rn0PQB?p=preview]

I am not sure if this is an issue or not. OR that I am not implementing this the correct way.
I need to be able to trigger the visibility of the google address search input. It must be restricted to South Africa.
The first time i complete a search - it filters only on south african addresses. I then click the show map button twice to hide and then show aga

[2017-07-22 21:32] allenhwkim commented on #181
strange,

NOTE: related code.
https://github.com/ng2-ui/map/blob/master/src/directives/places-auto-complete.ts#L37

[2017-07-25 07:49] manoj-netlings commented on #180
Thanks it worked basically i was also using AGM which was creating issue

[2017-07-25 07:49] #180 closed

[2017-07-28 22:58] juniormayhe opened #182 "Typo in filename "places-auto-compolete.component.ts""
**IMPORTANT**

I think the file /map/app/map-components/places-auto-**compolete**.component.ts must should be renamed to either:
/map/app/map-components/places-auto-complete.component.ts
or
/map/app/map-components/places-autocomplete.component.ts

[2017-07-31 23:06] becerriljc commented on #177
i have the same inssue:
google is not defined at MapaComponent.webpackJsonp. i call the google on ngOnInit...

[2017-08-03 10:55] thanhngvpt opened #185 "How to catch dragend event?"
Hi all.
How can i catch dragend event on map not on marker?
many thanks.

[2017-08-04 06:54] thanhngvpt commented on #185
many thanks @allenhwkim

[2017-08-04 06:54] #185 closed

[2017-08-08 14:54] rainmak33r commented on #154
Any updates on this one ?

[2017-08-09 00:58] mzm-dev commented on #177
I have facing same problem before this..
But it's my temp solution.
When I just use `new google.maps.Geocoder; ` with out call `<ngui-map></ngui-map>`  in html
I got same error  `google is not defined`.
Because <script> tag not importing the Google Maps JS API in html file.
So I just put `<ngui-map style="display:none"></ngui-map>` to force <script> tag insert the Google Maps JS API in current htm

[2017-08-09 02:05] allenhwkim commented on #177
@aitboudad can you add an example of api-loader, https://github.com/ng2-ui/map/blob/master/src/services/api-loader.ts?

[2017-08-11 18:46] aitboudad commented on #177
wait not but for next week :)

[2017-08-13 14:32] gregor-srdic commented on #177
until then, i believe this is a hint:

[code]

[2017-09-01 10:04] loukitkhemka opened #186 "Error while using Direction Renderer in Modal window"
I have implemented the direction renderer example in a bootstrap modal window of an angular 2 page without the direction-changed option. However, when I reroute from the page **without opening Modal window, which displays the map** I get the following error:

Cannot read property '__e3_' of undefined
The error is shown to be coming from
 google.maps.event.clearListeners(thisObj[prefix], eventName)

[2017-09-01 14:23] allenhwkim commented on #186
Please create a plunker example for us to analyze this error.

[2017-09-05 04:15] vanderburg commented on #152
@OscarCenito could you elaborate a bit on your cloning?

If I'm using <polygon [paths]="object.paths"></polygon>, I can't seem to find any method of putting data into the object after it's been initialized that will update on map, except for using the initialized$ event and doing .setPaths on that. The problem is that any time I replace object.paths (using object.paths = newPaths or any form of sh

[2017-09-05 13:28] nat2k5us commented on #154
Looking forward to a solution to this -

[2017-09-05 14:17] allenhwkim commented on #152
Sorry, I haven't made time for this issue. Any volunteer?

[2017-09-05 14:21] allenhwkim commented on #154
sorry, I haven't had time for it. I will look into it.
*The fact is that custom marker is still a marker, and the InfoWindow must work the same.

[2017-09-05 14:26] OscarCenito commented on #152
@vanderburg
I use a service and I clone the path within the service when I get new data. From the component I just subscribe to an observable of the path, so I don't do anything specific regarding ng2ui-map component to solve the issue. That is how I did before too, so no chages in code regarding the component-part from my side.

[2017-09-07 10:34] dpalinic opened #189 "Polyline path variable not updated on polyline vertice change / add from the map"
Hello,

Thanks for developing this great library. I have a problem with polyline edit though. I expected that `path` variable would be updated with new vertices when polyline is edited on the map (added new vertices or moved around). If that's not expected to happened, can you please advise which event to listen for polyline changes and how to retrieve new vertices?

**Steps to reproduce and a min

[2017-09-07 13:31] allenhwkim commented on #189
You need to use events of polyline and need to update path. https://developers.google.com/maps/documentation/javascript/3.exp/reference#Polyline

[2017-09-07 13:41] dpalinic commented on #189
Actually I just managed it to work automatically. I created `path` variable as `MVCArray<LatLng>` and then vertices are in sync. Also it is possible to register for `set_at` event on `path` making it easy to use.
Thanks for the help @allenhwkim .

[2017-09-07 13:41] #189 closed

[2017-09-08 14:00] hesama110 opened #190 "set drawingMode = null in drawing manager"
**IMPORTANT**
in my developing i need to set drawingMode as null but it is causing error in option builder what i need to do?
as you can see her it can be null
https://developers.google.com/maps/documentation/javascript/3.exp/reference#DrawingManagerOptions
Regards

[2017-09-08 14:44] allenhwkim commented on #190
Please remove drawingMode options when you initialize the map.
[code]

[2017-09-08 15:21] hesama110 commented on #190
what i am trying to is that by clicking on a button i am adding mouse down listener to map after that when mouse is down and it is moving i am reading latLng but it is not activate untill i push hand icon in drawingManager
tthis way is working in javascript and Typescript i have problem with angular i will be happy to help :)

[code]

[2017-09-08 15:55] allenhwkim commented on #190
//myDrawingMode = undefined;
try `undefined` instead.

[2017-09-08 15:58] hesama110 commented on #190
it is the same
AppComponent.html:5 ERROR TypeError: Cannot convert undefined or null to object
    at OptionBuilder.webpackJsonp.../../../../@ngui/map/dist/services/option-builder.js.OptionBuilder.googlize (option-builder.js:88)
    at NguiMap.updateGoogleObject (ngui-map.js:35)
    at DrawingManager.webpackJsonp.../../../../@ngui/map/dist/directives/base-map-directive.js.BaseMapDirective.ngOnChan

[2017-09-08 17:04] allenhwkim commented on #190
It seems working for me.

[2017-09-08 17:47] allenhwkim commented on #154
This is the working version without any code change, https://plnkr.co/edit/IeCiaO?p=preview
[code]

[2017-09-08 18:01] allenhwkim commented on #154
This is the working version. https://plnkr.co/edit/IeCiaO?p=preview.
The key here is to get the map component instance correctly and use it to open infowindow.
[code]

[2017-09-12 03:20] vanderburg commented on #189
I realized you closed this, but just to follow up, you can do this.

In your polyline and polygon, you can have `(initialized$)="initPoly('identifier', $event)"` (I use an identifier to store the event in an object to call back whenever).

Then, you can do something like this:

[code]

The naming I'm using is kinda abstract, but hopefully you get the idea. set_at is for dragging and moving a point

[2017-09-12 03:50] buithanhphongict opened #191 "Change color of different points in heatmap"
I need to color the different points in my heat map based on air quality index(aqi value) for that point, but google heat maps are based on density not value. How can i achieved that?

[2017-09-12 13:44] isametal88 opened #192 "Multiple API load"
Hi guys,
thank you very much for this component. I just started using it and it seems to be very well designed.

I sadly have a problem and I hope you can help me. The application I'm building is huge and it's hard for me to provide an example. We are currently using another Google Maps component inside the application in order to have a Google Places Autocomplete. For this, we are loading the Goo

[2017-09-12 14:11] allenhwkim commented on #191
Sorry, this is out of scope. This is google api maps question. Please ask this at stackoverflow or proper other channel.

[2017-09-12 14:14] allenhwkim commented on #192
@isametal88 thanks for designing complement. I spent a lot of time for it. :)

I understand you issue, but please try to replicate this issue on plunker. e.g., one map without ngui/map and one with map.

[2017-09-12 14:18] isametal88 commented on #192
As I think you understood, this is not properly an issue with your component, but an integration issue.
All I need is a way to notify your component of the API load.
Building a proper example is very complicated right now. If it is required I can figure something out...

[2017-09-12 14:48] aitboudad commented on #192
I have an idea to solve this, I'll open a PR tomorrow!

[2017-09-13 01:51] miliu99 commented on #48
I'm having this problem for a while and just ignored it so far. Today I took another look, found this closed issue. When I do npm start for my webpack project, I get following errors:

 ERROR in C:\Users\x\node_modules\@ngui\map\dist\directives\places-auto-complete.d.ts
 (1,23): error TS2688: Cannot find type definition file for 'googlemaps'.

 ERROR in C:\Users\x\node_modules\@ngui\map\dist\direc

[2017-09-13 13:08] isametal88 opened #193 "API specification needed"
Hi guys,

I got crazy figuring out what my problem was, and I think a little note on the documentation is needed.
The Marker directive position may be an address or a latLng object, and custom marker is the same but with an important difference: the latLng for the Google Marker is a Json Object ({lat:45,lng:9}), while the one for the custom marker is an array ([45,9]). Both annotations are perfect

[2017-09-13 14:05] allenhwkim commented on #193
Please do not assume any. this strictly follows Google maps API.

1. there is no API for this. Marker is a google marker, CustomMarker is an OverlayView.
2. array and other values area accepted as a value of an attribute for convenience.

[2017-09-13 14:09] isametal88 commented on #193
Oh, you're perfectly right. I was a Google Maps specialist, but time has passed and I forgot OverlayView lack of setPosition.
My bad. :-)

[2017-09-13 14:09] #193 closed

[2017-09-13 14:11] allenhwkim commented on #193
FYI,

https://github.com/ng2-ui/map/blob/master/src/components/custom-marker.ts#L65

[2017-09-13 14:16] aitboudad commented on #192
seems my approach doesn't work properly :(, @isametal88 can try to add google-map before the angular script without `async` attribute? basically it should work!
[code]

[2017-09-13 14:20] miliu99 opened #194 "How to find a specific marker?"
Thanks for this nice map component. I have several markers in the map, and clicking the marker will make the InfoWindow show up, which is fine. Now, I also need to be able to make the InfoWindow show up when I click a link outside of map. So, how do I locate the marker? Without this, it just shows up in the last clicked position.

[2017-09-13 15:06] hesama110 commented on #190
thanks @allenhwkim

[2017-09-13 15:06] #190 closed

[2017-09-13 15:07] isametal88 commented on #192
Hi,
my API load in index HTML doesn't use async. The problem is that this library requires to load API from app.module in order to work properly, but the api load is done only when the first component is shown.

Anyway, I solved my problem replacing the other Google Places Autocomplete component with the one offered by this library (I don't know why I didn't think about it earlier...).

Thank you

[2017-09-13 15:09] hesama110 commented on #104
hi @allenhwkim do you have any idea how i can use custom-marker as cluster marker?
in my map i have some markers they need to be cluster and with hove show list of markers and with click on that zoom, do you have any solution ?

[2017-09-13 15:09] isametal88 commented on #193
Exactly:
`if (position.constructor.name === 'Array') {
        this.position = new google.maps.LatLng(position[0], position[1]);
      } else if (typeof position === 'string') {
        let geocoder = new google.maps.Geocoder();`
The component assumes that the position is either a string or an array, but not a LatLng object (as other markers do).

[2017-09-13 18:54] allenhwkim commented on #193
it also accepts LatLng object.
[code]

[2017-09-13 20:15] allenhwkim commented on #194
`map.markers`? It's in README.md. Also you can find more examples here, https://rawgit.com/ng2-ui/map/master/app/index.html

[2017-09-13 21:55] isametal88 commented on #193
{lat:45,lng:9} is a Json object that is accepted by markers but not by the component

(position.lng === 'function') = false

[2017-09-15 13:31] maxkorz opened #195 "Custom controls"
Hello. Is it possible to add a custom-control to the map? I don't see such feature [here](https://rawgit.com/ng2-ui/map/master/app/index.html#/drawing-manager).

Documentation: https://developers.google.com/maps/documentation/javascript/examples/control-custom
Angular 1 demo: https://ngmap.github.io/#/!custom-control.html

[2017-09-15 13:51] allenhwkim commented on #195
It's not implemented because it's not an option for map api. https://developers.google.com/maps/documentation/javascript/3.exp/reference#MapOptions
However, I found it's a property of a map.

It's doable, but it will take time.

You still can do without a directive support by following google demo code.

[2017-09-15 15:13] maxkorz commented on #195
@allenhwkim thanks. Turns out I can add a custom control using ViewChild. Like this: http://plnkr.co/edit/8iuUmo0CaW22bP0SiiDa?p=preview

Although a separate component (like `<custom-marker>`) would make it easier

[2017-09-15 15:27] allenhwkim commented on #195
@maxkorz that's very nice example. If I make it, it's just a wrapper of what you just did. :) which will simply adding it to `map.controls`

[2017-09-15 15:32] maxkorz commented on #195
@allenhwkim don't forget about `position` and `index` inputs (take a look at angular1 example in my first message to see what I mean)

Docs: https://developers.google.com/maps/documentation/javascript/controls#CustomPositioning

[2017-09-16 13:17] miliu99 commented on #194
Okay, I didn't get a direct way to find a marker. Instead, inspired by README.md, I used onMarkerInit event to track them in code-behind. It works. Thanks.

[2017-09-16 13:41] miliu99 opened #196 "Cannot find type definition file?"
I used to get a few of this kind of error message with the earlier version. However, after upgrading to the latest, with $ npm install @ngui/map @types/googlemaps --save, it seems to get worse and get more errors:

[code]

This are the two lines in my package.json

[code]

In my app.module, this is the only thing I import:

`import { NguiMapModule} from '@ngui/map';`

Do I have to import the type

[2017-09-16 16:50] #194 closed

[2017-09-16 16:54] allenhwkim commented on #196
types are dev dependencies. https://github.com/ng2-ui/map/blob/master/package.json#L52

I don't know why you are getting these messages if you use `*.umd.js`.

If you want to get rid of these, please add do `npm install @types/googlemaps`

[2017-09-18 20:04] sneckelmann opened #197 "Logging to console"
The package is logging to the console which could be considered "invasive."

https://github.com/ng2-ui/map/blob/47316f5135712062f462a3e99d1e156ab6438c84/src/components/ngui-map.component.ts#L113

[2017-09-18 20:08] allenhwkim commented on #197
Please use production version of .umd.js to not to see logs.
https://github.com/ng2-ui/map/pull/188

[2017-09-18 20:08] #197 closed

[2017-09-19 15:19] djamajo opened #198 "Map type (satellite or Map) is disabled on Map"
**IMPORTANT**
I integrated Google Map into my angular 2 project and set up the default map

**Steps to reproduce and a minimal demo**

  1 - $ npm install @ngui/map @types/googlemaps --save
  2 - import { NguiMapModule} from '@ngui/map';
  3 - NguiMapModule.forRoot({apiUrl: 'https://maps.google.com/maps/api/js?key=MY_GOOGLE_API_KEY'})
4 -

[code]

[code]
**Current behavior**

 Satellite icon and M

[2017-09-19 21:08] jphearse opened #199 "getBounds()"
Is it possible to use the getBounds() method? If so can someone explain/show me how?

[2017-09-19 22:20] allenhwkim commented on #199
yes, it's possible. `getBounds()` method is just a method of an object; map, marker, circle, etc)

1. get the instance of Google object
2. use it.

https://github.com/ng2-ui/map#how-to-get-a-instances-of-a-map-or-markers

[2017-09-20 05:30] zwtokio commented on #198
[https://developers.google.com/maps/documentation/javascript/maptypes?hl=es-419](https://developers.google.com/maps/documentation/javascript/maptypes?hl=es-419)

[2017-09-20 13:41] allenhwkim commented on #198
Please create a plunker example. It's easy to create one by just clicking a button on the examples.
Without it, this will be closed.

[2017-09-20 14:32] anthony-pinskey opened #200 "map.markers is undefined when loading markers via HTTP/API call"
**Steps to reproduce and a minimal demo**

**Plunker Example**
http://plnkr.co/edit/zyiBFylbhl8dXYnwyjnV?p=preview

**Current behavior**
- When setting markers via an HTTP call, map.markers is returned as undefined in the mapReady$ event as shown in the console.log(map.markers). If you console.log(map) the markers are set though.

**Expected/desired behavior**
- map.markers needs to be available f

[2017-09-20 16:25] allenhwkim commented on #200
You are checking markers when map is ready.
[code]
You need to check markers when markers are ready using `initialized$` event. https://github.com/ng2-ui/map#how-to-get-a-instances-of-a-map-or-markers

[2017-09-20 16:41] anthony-pinskey commented on #200
@allenhwkim Thanks! Doesn't the initialized$ event call every time though? Is there a way to trigger a method once all the markers have been added to the map?

[2017-09-20 18:09] allenhwkim commented on #200
@anthony-pinskey yes, every time.
AFAIK There is no way to this module know that all markers know but you.
You may look into other map events e.g., `idle`

[2017-09-20 18:36] #199 closed

[2017-09-21 02:30] miliu99 commented on #196
Actually, I'm not using *.umd.js, but webpack.

Something is messed up. The last error message "Expected 2 arguments, but got 3." is more interesting. This refers to this line:

`this.nguiMapComponent.openInfoWindow('iw', marker, {});`

If I remove the last arg, the vs code shows red. Any clue?

[2017-09-21 10:35] aitboudad commented on #196
@miliu99 can you check if types in added in your tsconfig see [tsconfig.json#L16-L18](https://github.com/ng2-ui/map/blob/master/tsconfig.json#L16-L18)

[2017-09-21 12:42] #198 closed

[2017-09-21 18:55] miliu99 commented on #196
I didn't have that in my tsconfig.json, but I just tried to add it
[code]
and it didn't help.

To the last error message "Expected 2 arguments, but got 3", after I play with this for a while, I suddenly see the red line in vs code and when I remove the last argument, both vs code and npm start are happy. I don't know what was changed exactly.

[2017-09-22 13:01] xandedj commented on #150
Good Morning.

how do I style the label of the maracador, example take it out of the middle, put on top of the marker add backgound, fiddle in the font and everything?

Thank you very much in advance.

Exemple: https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiEp7Td7LjWAhUHlJAKHU-ECFoQjRwIBw&url=https%3A%2F%2Fpt.stackoverflow.com%2Fquestions%2F224532%2

[2017-09-24 13:53] xandedj commented on #200
Good Morning

How can I, use a marker rotate?

[2017-10-05 08:46] albertocule opened #203 "Styles on map"
Anyone knows how to apply styles ([like an array of objects](https://developers.google.com/maps/documentation/javascript/examples/maptype-styled-simple?hl=es-419)) with ngui-maps?

Thanks!

[2017-10-08 19:26] yjchiu opened #204 "Error using HeatMap Layer"
Does anyone face error using heatmap layer?
It always throw me "Cannot read property 'HeatmapLayer' of undefined".

I copied the same code from example

[2017-10-09 17:16] xandedj opened #205 "Problems displaying the data in the polyline"
Good afternoon folks,

I am having a problem in displaying the polyline, am I doing a ngFor in the component and this giving error can help me please?

Coud:

[code]

[2017-10-11 13:55] xandedj opened #206 "how to rotate the icon according to the direction"
how to use the rotate so that the maractor rotate according to the direction

[2017-10-11 13:55] #205 closed

[2017-10-13 23:54] zwtokio commented on #51
yo encontré una solución [https://github.com/ng2-ui/map/issues/94#issuecomment-282142516](comment issues)

[2017-10-18 07:45] adappter commented on #174
I have the same issue. I'm using the geolocation plugin.
The app starts with a map and everything works fine. Then I switch my view to another component, where I receive the userlocations from the first view. The maps centers correctly but after few seconds it throws me the same error.
When I reopen the view, it works.

[2017-10-19 14:56] shadobladez opened #207 "Angular 5 Support?"
So I have a question about whatever or not this project will be compatible with Angular 5 and if so, if the project will be kept up to date as the time goes on.

Thank you,
Joel H Jan

[2017-10-19 16:40] aitboudad commented on #207
already supported via #202

[2017-10-19 16:40] #207 closed

[2017-10-19 21:33] shadobladez opened #208 "Getting this error in the console whenever I try to run my app"
'ngui-map' is not a known element:
1. If 'ngui-map' is an Angular component, then verify that it is part of this module.
2. If 'ngui-map' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

is there any reason why I would get this type of error?

[2017-10-19 22:23] aitboudad commented on #208
you cannot use `ngui-map` if it'is not part of the module itself except if you export it from the NgModule declaration:
[code]

[2017-10-19 22:23] #208 closed

[2017-10-20 01:58] NoCopy opened #209 "Data Layer is not displaying"
This is based on the example provided in the https://github.com/ng2-ui/map repository:

**Steps to reproduce and a minimal demo**
https://rawgit.com/ng2-ui/map/master/app/index.html#/data-layer

[2017-10-20 14:01] allenhwkim commented on #209
It seems Google DataLayer implementation has been changes.
Need to catch up with Google's change.

[2017-10-22 16:53] jrsanchezalcala commented on #74
Me happen the same

[2017-10-24 11:17] AdrianMrn commented on #148
Any chance this could be coming out soon?
Is this possible at all, or has the waypoint option not been implemented at all?

[2017-10-24 13:48] AdrianMrn opened #211 "UNMET PEER DEPENDENCY @angular/common@>=4.0.0"
When running `npm install @ngui/map @types/googlemaps --save` I get the `UNMET PEER DEPENDENCY @angular/common@>=4.0.0` error, but in my package.json I've got the `"@angular/common": "^4.2.4"` dependency.

Is this a problem and if so, how would I go about solving it?

[2017-10-24 13:51] AdrianMrn commented on #211
Nevermind. I'm an idiot.

[2017-10-24 13:51] #211 closed

[2017-10-24 15:42] AdrianMrn commented on #74
Has this issue been resolved? I'm getting the same error because initialized doesn't seem to be running.

[2017-10-24 16:14] aitboudad commented on #74
please provide a reproduction example and then we can take care of it, thanks!

[2017-10-24 17:47] AdrianMrn commented on #74
coucher.component.html:
`<header class="pattern">
	<app-user></app-user>

	<div class="container-fluid">
		<div class="col-md-3">
			<div class="named">
				<div class="photo">
					<h1>Bus Travel</h1>
				</div>
				<div class="btn">

				</div>
			</div>
			<div id="sidebar">
				<h1>Your trip</h1>
				<form action="#" method="get" id="search">
					<input places-auto-complete type="search" name

[2017-10-24 18:02] aitboudad commented on #74
@AdrianMrn it's hard for us to debug with the provided code, please use https://stackblitz.com or [plnkr](https://plnkr.co/edit/n3aELSNoOZKThjkCHDJ3?p=preview) or a repo using angular-cli.

[2017-10-24 18:08] AdrianMrn commented on #74
https://github.com/AdrianMrn/coucher/tree/map_to_angular/front-end

This uses angular-cli, should have to only run ng serve in /front-end.
Disregard the /back-end folder & my google aps api key being pasted in plaintext...... I'll fix that later 🙄

[2017-10-24 19:16] AdrianMrn commented on #74
I have a feeling I'm not loading in the Google places/autocomplete library?

[2017-10-24 19:20] aitboudad commented on #74
@AdrianMrn  you can include libs in `NguiMapModule`:
[code]

[2017-10-24 19:25] AdrianMrn commented on #74
Mind = blown.

Error fixed. :)
Thanks & sorry for wasting your time.

[2017-10-26 15:04] AdrianMrn commented on #152
Thanks @OscarCenito, your fix `this.path = _.clone(this.path);` worked for me 😄

[2017-10-30 13:30] 02harleen opened #213 "How to show popup click on map?"
Click on map show popup with area zip code. Please tell us how it is possible?

[2017-10-30 13:39] allenhwkim commented on #213
IMO, this is out of scope, but the scope of Google Maps API itself.

[2017-10-30 14:32] 02harleen opened #214 "How to get zip code click on map?"
Please tell us how to get the zip code, on click map.

[2017-10-30 15:03] 02harleen opened #215 "Cannot read property 'DrawingManager' of undefined"
Error:- ```
zone.js:196 Uncaught TypeError: Cannot read property 'DrawingManager' of undefined
    at DrawingManager.webpackJsonp.../../../../@ngui/map/dist/directives/base-map-directive.js.BaseMapDirective.initialize (base-map-directive.js:36)
    at base-map-directive.js:25
    at SafeSubscriber.schedulerFn [as _next] (core.es5.js:3647)
    at SafeSubscriber.webpackJsonp.../../../../rxjs/Subscri

[2017-10-31 05:25] 02harleen opened #216 "DrawingManager is not work."
Hi, I have implemented this example:- [drwaing manager](https://rawgit.com/ng2-ui/map/master/app/index.html#/drawing-manager) but show error in my app.
Error is:-
[code]

API URL is:- NguiMapModule.forRoot({
      apiUrl: 'https://maps.google.com/maps/api/js?libraries=visualization,places,drawing'
      })

Please tell us fast its very urgent.

[2017-10-31 13:37] allenhwkim commented on #216
Plz try this
`NguiMapModule.forRoot({apiUrl: 'https://maps.google.com/maps/api/js?libraries=visualization,places,drawing&key=MY_GOOGLE_API_KEY'})`

[2017-10-31 13:40] allenhwkim commented on #216
``NguiMapModule.forRoot({
apiUrl: 'https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing'
})``

[2017-11-01 03:50] 02harleen commented on #216
I have already used but it does not work. The Same error occurs.

[2017-11-01 20:01] jericdeleon commented on #83
I actually have no issues, I just want to thank you and appreciate your efforts on keeping to the singleton design pattern for the ng2-map-providers; I was easily able to use the library in a lazy-load heavy application :)

(other map implementations don't fare well in lazy-loaded setups)

[2017-11-01 20:17] allenhwkim commented on #83
thanks @jericdeleon design is very important, all thanks to @aitboudad

[2017-11-02 00:05] ng-darren commented on #203
Hi, you could just inject it like any other parameters for ngui-maps like this:

`<ngui-map [zoom]="zoom"
    [styles]="config.mapStyle"
    (mapReady$)="onMapReady($event)"
    (mapClick)="mapClicked($event)">`

[2017-11-10 15:28] rsaenen opened #218 "Anormal CPU usage"
**Issue description**
I have a map with a few markers (~5), when I click on marker the cpu is always working even when the map is longer displayed.
I use `ChangeDetectionStrategy.OnPush` and only markForCheck when I get my data.
[code]

[code]

**Current behavior**
I've checked with chrome performance tab the activity of my application:
![cpu_usage](https://user-images.githubusercontent.com/582430

[2017-11-10 17:13] allenhwkim commented on #218
`(click)`,  this is also a angular event, which is not a  google maps event. As per design, Marker is directive without any DOM element.

Does a marker has click event? yes it does.

Hmm,

Code to add event listener
https://github.com/ng2-ui/map/blob/master/src/services/ngui-map.ts#L17

Code to unregister map object
https://github.com/ng2-ui/map/blob/master/src/directives/base-map-directive.ts#L73

[2017-11-10 17:15] allenhwkim commented on #216
I can't say. Please create a plunker example to reproduce this error.

[2017-11-10 17:19] allenhwkim commented on #215
Duplicate to #216

[2017-11-10 17:19] #215 closed

[2017-11-10 17:20] allenhwkim commented on #214
This is not possible with this module. Please look into google places api, https://developers.google.com/places/.

[2017-11-10 17:20] #214 closed

[2017-11-10 17:21] #213 closed

[2017-11-10 17:23] allenhwkim commented on #206
Please provide more details.

[2017-11-10 17:25] allenhwkim commented on #204
Do you provide Google library with `key=YOUR_API_KEY&libraries=visualization`?
FYI,   https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap

[2017-11-10 20:51] sayeko opened #219 "Save of the last state"
Hi, how can I save on the last state of the map instead of draw her every time if it can be make.

[2017-11-10 22:01] allenhwkim commented on #219
This module does not provide that much detail. You need to save it manually. e.g., https://stackoverflow.com/questions/6196021/how-to-save-and-restore-position-of-map-in-google-map-v3

[2017-11-10 22:01] #219 closed

[2017-11-11 10:01] rsaenen commented on #218
Thanks for this informations, here is a new screenshot of the activity with aot and env prod:
![cpu_usage](https://user-images.githubusercontent.com/5824307/32688357-842ee146-c6cf-11e7-952b-08feb3c8c165.png)

I'll do the same thing with pure javascript and Google maps.

[2017-11-11 10:23] rsaenen commented on #218
An example with pure Google maps:
![cpu_usage2](https://user-images.githubusercontent.com/5824307/32688520-7dd7edda-c6d2-11e7-9c1a-f84bc6df9f5c.png)
The click is around 5 sec.

I can see a bit less activity but the activity won't stop.
I saw that when I move the center of the map, the activity going down.

[2017-11-11 19:09] sayeko opened #220 "Gui maps not responsive"
How can i control the responsive of the map?

[2017-11-12 02:22] allenhwkim commented on #218
So, it does happen with pure google maps?
AFAIK, we cannot stop the google maps instance. There is bug of google maps regarding GC.

[2017-11-12 02:23] allenhwkim commented on #220
Please be more specific.

[2017-11-12 06:02] sayeko commented on #220
I can't control the height of the map it not changing by the css and try tried to manipulate it with no luck.

[2017-11-13 13:35] Pescu commented on #154
This can not be used with multiple custom markers. Can we associate some information for each custom marker and use it on click event?

[2017-11-14 12:04] tejasrana95 opened #221 "Not rendering in app.component.html"
I tried to add it in html.

`<div class="">
                                <div class="google-map-container">
                                    <input places-auto-complete (place_changed)="placeChanged($event)" [types]="['geocode']" />
                                    <p>
                                        <ngui-map [center]="center"></ngui-map>
                                        p

[2017-11-15 14:02] miliu99 opened #222 "Zoom to show all markers or a specific marker?"
Is there a way to adjust the zoom level automatically to show all markers or a specific marker?

When googling, I see some of the maps implementing "zoom-to-include-markers".

[2017-11-16 04:58] miliu99 opened #223 "Is it possible to change the color of the default marker?"
I know you can create custom markers. But I really like the default one, except that if I could change the color to blue, green or yellow and so on.

[2017-11-16 15:02] allenhwkim commented on #223
You can use your own icon, https://stackoverflow.com/questions/11064081/javascript-change-google-map-marker-color

Closing this as out of scope.

[2017-11-16 15:02] #223 closed

[2017-11-16 18:17] webcat12345 commented on #216
[This](https://github.com/ng2-ui/map/issues/216#issuecomment-340765193) works for me

[2017-11-16 23:32] miliu99 commented on #223
Okay, I got the idea, but I ran into a problem...I tried to use png image as icon - I clones the default icon (exactly same size 20x40 px). However, when I overlay the label on top of the marker, it is a little too low (the default works perfect).

How can I adjust the vertical position of the icon or label so that they overlay nicely? I tried to use anchor property, but has no effect. Thank you v

[2017-11-17 00:23] miliu99 commented on #223
Never mind...I figured out myself...you can use labelOrigin to set position of the label within the marker.

[2017-11-24 13:21] hoisel commented on #203
@ng-darren It does not work for me.

[2017-11-24 13:50] #179 closed

[2017-11-24 13:51] #196 closed

[2017-11-24 13:54] #139 closed

[2017-11-24 13:55] #166 closed

[2017-11-24 13:59] aitboudad commented on #182
seems already fixed.

[2017-11-24 13:59] #182 closed

[2017-11-24 14:00] #200 closed

[2017-11-27 22:33] oscarsolis opened #225 "Is it possible to add custom properties in the markers?"

[2017-11-29 01:12] jsookikian opened #227 "Is it possible to disable marker snapping?"
When I create a marker from the (click) event on the ngui-map, it will snap to the closest "object". For example, I am trying to mark certain areas of a building, and when I click on the far end of the building, the marker gets placed in the center of the building. Or when I click in between a few houses, the marker gets snapped to the closest building.

Likewise, for dragging I am updating the ma

[2017-11-29 21:41] jsookikian commented on #227
Solved: I had to preface the position in the directive with "loc:" like this:

`< marker position="loc: {{marker.lat}} , {{marker.lng}}" >`

[2017-11-29 21:41] #227 closed

[2017-11-30 23:59] yossely commented on #86
Hi @ziXet could you access the `google.maps` object? I also need it to fit bounds of the map

[2017-12-04 02:14] jcphlux commented on #154
@Pescu This is how I got it working for multiple custom markers. I took what @allenhwkim posted and looked at what it was doing in the debugger and put this together.

html
[code]

code
[code]

[2017-12-07 16:00] miliu99 opened #228 "Central marker disappeared after upgrade from 0.18.6 to 0.20.0?"
Just upgraded to 0.20.0 and noticed the central marker disappeared. After restored v. 0.18.6 without changing anything else, the marker is back. Anybody else seeing this problem?

[2017-12-07 16:35] aitboudad commented on #228
Hi, can you provide us a reproduction example using https://stackblitz.com ?

[2017-12-08 14:01] doktercode opened #229 "full fit not overflow hidden"
how to make full fit map but not hidden overflow. this make not center with deferent component I think.

[2017-12-14 17:27] GabrielPR commented on #186
Hi, I'm having the same issue as loukitkhemka.

When I try to open the page with the Modal window,I get the following error:
![image](https://user-images.githubusercontent.com/11232709/34004929-7feaf22a-e0e0-11e7-9e99-9a2a81060de1.png)

Modal Component and Template:

@Component({
  selector: 'app-mapas-teste',
  templateUrl: './mapas-teste.component.html',
  styleUrls: ['./mapas-teste.component.cs

[2017-12-14 17:29] aitboudad commented on #186
@GabrielPR Can you please try to reproduce the issue using stackblitz.com?

[2017-12-14 18:34] GabrielPR commented on #186
@aitboudad I will try.

[2017-12-14 21:58] becerriljc opened #230 "Cannot read property 'initialized$' of undefined"
copy de example, then i have this error...
![iinit](https://user-images.githubusercontent.com/24251698/34016457-8e3f0d64-e0e7-11e7-9b6a-624f29946219.png)

[2017-12-18 10:56] GabrielPR commented on #186
Hi, I was unable to do it. Only building a modal with directions-renderer on stackblitz.com didn't show any error.
 We believe that the issue happens how we load the modal, but we coudn't find the cause. My co-worker implemented a workaround inserting:

// FIXME - F.MACAL: Check for undefined thisObj[prefix]
                if(thisObj[prefix] != undefined){
                    google.maps.event.cl

[2017-12-18 11:56] aitboudad commented on #186
@GabrielPR is it possible to provide a repo instead ?

[2017-12-18 16:34] aitboudad commented on #230
Hi @becerriljc, can you provide us more details, it would be nice to provide a reproduction code using https://stackblitz.com or a repo using `@angular/cli`

[2017-12-18 23:52] miliu99 commented on #228
Sorry for the delay, but when I try to create the project with ngui/map in stackblitz.com, the map doesn't show up and no error in console either. Anybody got a ready-to-run stackblitz with ngui/map so I can put my code in?

Anyway, I did some more research on this issue. Very strange...the exactly same code works in the for-loop, but not standalone.

[code]

The first line shows nothing, but the

[2017-12-19 00:00] miliu99 opened #231 "How to refresh the map after size has changed?"
I have a list next to the map on right, if I hide the list, the map area is extended with empty space only. I have to click browser's refresh button to get the empty space filled. So, how do I make the map refresh automatically after resizing? Note that if the browser window is resized, it doesn't seem to have this problem.

[2017-12-19 00:12] aitboudad commented on #231
@miliu99  can you try with https://github.com/ng2-ui/map/issues/141#issuecomment-300798823 and let me know if it solve your use-case.

[2017-12-19 00:13] #141 closed

[2017-12-19 00:22] aitboudad commented on #228
here is a ready stackblitz https://stackblitz.com/edit/angular-xdef9i, you can also provide us a repo using angular-cli if you want

[2017-12-19 00:25] aitboudad commented on #221
the provided code is not clear, can you please put your example in https://stackblitz.com/edit/angular-xdef9i to see if I can help, thanks!

[2017-12-19 00:26] aitboudad commented on #220
can you please put your example in https://stackblitz.com/edit/angular-xdef9i to see if I can help, thanks!

[2017-12-19 01:37] miliu99 commented on #228
Thank you very much for the link, I just tried it. https://angular-xdef9i.stackblitz.io
I moved the center to la, ca, and then added a marker with an icon from google.

[code]
the marker doesn't show up. If I remove the icon attribute, the default marker shows up.

[2017-12-19 01:51] miliu99 commented on #231
Yes, I saw that and tried it earlier, but it didn't work. The only thing works is hard refresh or

        `window.location.reload();`
or
        `window.location.href = document.URL;`

Which is not only slow, but also has some other side-effects because I have other stuff on the same page.

[2017-12-19 09:22] aitboudad commented on #231
ok @miliu99 can you replicate your example using  https://stackblitz.com/edit/angular-xdef9i ?

[2017-12-19 09:30] aitboudad commented on #228
it's work for me, you just need to use https over http and `icon` shoud be `[icon]`
[code]
I updated the stackblitz example https://stackblitz.com/edit/angular-xdef9i too

[2017-12-19 09:30] #228 closed

[2017-12-19 15:29] miliu99 commented on #228
Okay, good catch. That's it. However, it worked in v.0.18.6 without the square brackets. Thank you very much.

[2017-12-19 15:48] #216 closed

[2017-12-19 15:49] #204 closed

[2017-12-19 15:58] miliu99 commented on #231
Ok, I got the problem reproduced here: [https://angular-5husho.stackblitz.io](url)

[2017-12-19 16:05] aitboudad commented on #231
@miliu99 see https://stackblitz.com/edit/angular-brp8az, you must add a timeout after toggling `showList`+ you must pass `$event` in onInit instead of `event`.

[2017-12-19 16:05] #231 closed

[2017-12-19 16:41] miliu99 commented on #231
It works great. You guys are really cool. Thanks a million.

[2017-12-19 18:37] #126 closed

[2017-12-19 18:42] #150 closed

[2017-12-19 18:44] aitboudad commented on #149
the question is not clear, please provide more details. thanks!

[2017-12-19 18:44] #149 closed

[2017-12-19 18:51] aitboudad commented on #152
angular doesn't track change of an input when using push you must pass a new ref:

[code]

[2017-12-19 18:51] #152 closed

[2017-12-19 18:52] #154 closed

[2017-12-19 18:56] aitboudad commented on #225
your question is not clear, can you elaborate please?

[2017-12-19 19:09] aitboudad commented on #222
see https://stackblitz.com/edit/angular-kikas9

[2017-12-19 19:09] #222 closed

[2017-12-19 19:12] aitboudad commented on #209
already fixed by #210

[2017-12-19 19:12] #209 closed

[2017-12-19 19:14] #191 closed

[2017-12-19 19:14] #206 closed

[2017-12-19 22:54] joseSierra94 opened #234 "I have a problem when I want to use angular 5"
Have someone had this error, please if someone know about that could help to me
ERROR in node_modules/@ngui/map/dist/services/config.d.ts(1,10): error TS2305: Module '"/home/jose/projects/OpenMDM-FrontEnd-master/node_modules/@angular/core/core"' has no exported member 'OpaqueToken'.

this is my package.json:
{
  "name": "OpenMDM-FrontEnd",
  "version": "0.0.1",
  "license": "MIT",
  "angular-cli":

[2017-12-19 23:14] aitboudad commented on #234
@joseSierra94 not sure if it's related to this package just ensure you use latest version of @ngui/map which is 0.20.1 and not 0.18.6

[2017-12-19 23:14] #234 closed

[2017-12-20 04:49] miliu99 commented on #222
It works perfectly. Thank you very much!

[2017-12-21 19:00] #225 closed

[2017-12-21 19:01] #221 closed

[2017-12-21 19:01] #220 closed

[2017-12-21 23:01] aitboudad commented on #203
see https://stackblitz.com/edit/angular-3cbdcq

[2017-12-21 23:01] #203 closed

[2017-12-21 23:14] aitboudad commented on #167
to get the map instance use `mapReady$` output:
[code]

[2017-12-21 23:14] #167 closed

[2017-12-21 23:19] aitboudad commented on #218
duplicate of #163

[2017-12-21 23:19] #218 closed

[2017-12-21 23:21] #192 closed

[2018-01-08 13:47] jorgelub12 commented on #104
Any fix on this ?

[2018-01-08 14:18] tpiros opened #235 "Get details of circle via drawing manager"
How can I get the details of a circle drawn on the map via the Drawing Manager?

Consider this example: https://ng2-ui.github.io/map/#/drawing-manager

I'd like to get the details such as the centre point (lat, lon values) as well as the radius of the circle drawn.

[2018-01-08 14:33] aitboudad commented on #104
well it can be done easily, here is a working example: https://stackblitz.com/edit/angular-jbp2yc

[2018-01-08 14:33] #104 closed

[2018-01-08 15:10] jorgelub12 commented on #104
@aitboudad  your link doesn't show the cluster marker. It's just the map.

[2018-01-08 15:14] aitboudad commented on #104
@jorgelub12 fixed!

[2018-01-08 15:15] jorgelub12 commented on #104
@aitboudad  Thanks you !. What did you changed if I can ask?

[2018-01-08 15:17] aitboudad commented on #104
the script [markerclusterer.ts](https://github.com/googlemaps/js-marker-clusterer/blob/gh-pages/src/markerclusterer.js) was missing

[2018-01-08 15:32] aitboudad commented on #235
you can get them from google map event, you can find more in google-maps docs:

[code]

[2018-01-08 15:32] #235 closed

[2018-01-08 17:55] yossely commented on #194
`map.markers` returns `undefined` to me, and in [Google Map documentation](https://developers.google.com/maps/documentation/javascript/reference#Map) there's no property called `markers` or any method to get the markers.

[2018-01-08 19:16] aitboudad commented on #194
@yossely see https://stackblitz.com/edit/angular-2rmsne

[2018-01-08 19:20] aitboudad commented on #194
The example contains two way, the first one rely on `mapReady$` output and the last one use `ViewChildren`

[2018-01-08 19:37] jorgelub12 commented on #104
@aitboudad  did you added some other dependence? Because I'm following the link that you sent and I got some errors like :
[code]

[2018-01-08 19:46] aitboudad commented on #104
maybe you missed to include `markerclusterer.js` https://stackblitz.com/edit/angular-jbp2yc?file=markerclusterer.ts also ensure to import it using relative path example:
[code]

another way that may work is to remove `import 'markerclusterer';` from the app component and add [markerclusterer.ts](https://github.com/googlemaps/js-marker-clusterer/blob/gh-pages/src/markerclusterer.js) in you index.ht

[2018-01-08 22:31] vanderburg commented on #152
Thank you @aitboudad, this was really helpful. It does appear to create a new problem, however. If I have event listeners (insert_at, set_at, remove_at) based on the polygon created by the map, with an  `initialized$` event, then I use the spread operator like you describe, it looks like the map is creating a new shape (Which does show properly on the map now), but the listeners I created in that

[2018-01-08 22:52] aitboudad commented on #152
@vanderburg ok then, instead of spread operator you may use `changeDetectorRef.markForCheck()` see https://stackblitz.com/edit/angular-agz9ke

[2018-01-08 22:58] aitboudad commented on #164
see https://stackblitz.com/edit/angular-jbp2yc

[2018-01-08 22:58] #164 closed

[2018-01-09 08:19] vanderburg commented on #152
@aitboudad I may not have explained it properly, though, I appreciate your assistance anyway. I forked your stackblitz to better explain what's going on: https://stackblitz.com/edit/angular-by7ntf The polygon starts with 4 points and if you move any of the points, the set_at event fires correctly. If you then add a point and the array updates correctly, the new point is properly shown on the map,

[2018-01-09 11:25] aitboudad commented on #152
here is another better approach https://stackblitz.com/edit/angular-ejnesk :),
`initPoly` is called only once, so instead why not just add the new path using google map api:

[code]

[2018-01-11 03:46] vanderburg commented on #152
That's an excellent suggestion, and I just needed the 'insert_at' event to update the polygonPath array (for some reason, updating the polygon object first doesn't cause the events to break. The shape appears to be pretty fragile, so if I wanted to have some sort of collaborative map editing (Like two people able to move points at the same time), I have to do something convoluted like the followin

[2018-01-14 06:27] vanderburg commented on #152
If anyone is following along with this closed issue that certainly no one is reading anymore ( :) ), if you wish to use an array of arrays in a polygon (for a complex shape, or one with a hole, or something) and you want to add a new array, you can do it with: `polygon.getPaths.push(new google.maps.MVCArray([event.latLng]);`

You can catch this with an event:

[code]

You'll want to run the initPo

[2018-01-18 16:08] DMKryzalid opened #237 "SVG with Polyline Causing Problem"
Hello, i've got into your library of a map in my ng5 project.
Map work perfectly. But there's one problem.

I've got a SVG logo in my header components which is not in map component.
(Following code of the svg)
[code]

The fact this SVG is animated and has polylines, ngui/map is expecting it to be in the NguiMapComponent.

**Current behavior**

  - The SVG cause the following error.
[code]

**Expe

[2018-01-18 17:50] allenhwkim commented on #237
Please try put on the attribute `ngNonBindable`
http://plnkr.co/edit/5491PC11eaSpXff1RDuJ?p=preview

[2018-01-18 17:56] DMKryzalid commented on #237
Thank you very much! Didn't know it was a possible attribute.

[2018-01-18 17:56] #237 closed

[2018-01-25 20:12] Aron4u opened #238 "Log output from OptionBuilder service"
STR:
use the component with user input options

**Current behavior**

  -  there is a console output. from console.log('userInputs.options......................', userInputs.options);

**Expected/desired behavior**

  - no console.log

the problem seems to be that
ngc-pre-compiler.js has  a missing folder where the options builder is located

['components', 'directives'].forEach(dirName => {
=>
['

[2018-01-26 15:41] dikey94 opened #240 "How to render a list of Polygon inside a map using model as a source of data"
Hi guys,
I'm trying to render a list of Polygon inside a map using model as a source of data. Everything works fine except that I can't load 'path' property from my model. I can use *ngFor for load every Polygon, but path binding is not working.
Do you have any examples?
Thanks!

[2018-01-26 15:43] #238 closed

[2018-01-26 16:38] aitboudad commented on #240
hi, have a look at https://stackblitz.com/edit/angular-ejnesk

[2018-01-26 16:38] #240 closed

[2018-02-01 16:51] jrsanchezalcala opened #241 "OverlayView Directive"
Needs implement directive OverlayView for cordova platform android project becouse markers are not render via <marker> becouse of a problem of cordova webview it has to use overlayview instead.

[2018-02-01 17:03] aitboudad commented on #241
have you tried using CustomMarker (https://ng2-ui.github.io/map/#/custom-marker), which is an OverlayView.

[2018-02-02 05:18] jananigel opened #242 "Change map language"
is it possible to change map language when I click button to set language?  or add 'language=""' in api
Url and refresh the map (ngui-map)?
`app.module.ts`

apiUrl: 'https://maps.googleapis.com/maps/api/js?key=API_KEY'
    })

`app.component.ts`

    //I want change language here!
};

`app.component.html`

    (mapReady$)='onMapReady($event)'
    (mapClick)='onMapClick($event)'
    (idle)='onMapId

[2018-02-02 07:40] closer27 commented on #104
@aitboudad Your solution was very helpful for me. Thank you

[2018-02-02 07:57] jrsanchezalcala commented on #241
I was trying my own custom Marker i did,t see it this thank you very much i
will try and i tell you

2018-02-01 18:03 GMT+01:00 Abdellatif Ait boudad <notifications@github.com>:

[2018-02-02 10:23] jrsanchezalcala commented on #241
It works perfect . Maybe this is something that you should advise in documentation. Thank you for your help.

[2018-02-02 11:37] aitboudad commented on #241
@jrsanchezalcala PR welcomed!

[2018-02-02 11:37] #241 closed

[2018-02-02 14:43] allenhwkim commented on #242
Try this way.
Try this way.
1. set apiUrl with a language `&language=kr`
2. redraw the map by destroying DOM and creating it again.

[2018-02-03 18:56] jananigel commented on #242
Thanks for your reply!
Is app.module.ts can be changed at runtime?
(Sorry, it's my first time to create a map with Angular, it will simple if it's <script src = "api url&callback=initMap&langlage=kr"></script>, but in angular I don't how to change the apiurl at runtime.)

[2018-02-05 15:47] drnuke-uk commented on #176
The original version of this plugin added the class ".ng-map-info-window" to the outer div of the info windows. That seems to be missing in this ng2 version.

i.e. infoWindowContainerEl.className = "ng-map-info-window";

How can this be enabled in this version?

[2018-02-06 15:41] nickygencs17 opened #243 "ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[Circle -> NguiMapComponent]:"
This is an odd error I can't seem to overcome. The component where the ngui-map is located works fine without any error. However, another component that does not have any ngui-map component I receive this error.
<img width="788" alt="screen shot 2018-02-06 at 10 39 26 am" src="https://user-images.githubusercontent.com/19628012/35868311-24e291de-0b2a-11e8-8932-788ad74b1e46.png">

Please let me know

[2018-02-09 11:06] jananigel commented on #242
Sorry...I still can't resolve this problem. I don't know how to change the apiUrl at runtime.

[2018-02-12 11:56] xandedj commented on #206
Utilizo o icone de uma seta no mapa e o meu rastreador me passa um atributo chamado curso  com a direção em graus, ou seja um numero inteiro tipo 90, 180 e etc...

Preciso que a medida que esses valores foram passados a seta no mapa indique a direção de deslocamento, pode ser feito?

[2018-02-14 14:37] AlBlanc opened #245 "I can't initialize a `google.maps.places.Autocomplete` twice"
Hi wonderful @ng2-ui/map team!

I am facing an issue with the [`PlacesAutoComplete`](https://github.com/ng2-ui/map/blob/master/src/directives/places-auto-complete.ts) directive. The input text with the `place-auto-complete` selector is placed into a dialog, which works well the first time I open it:
[code]

On the first launch, `(initialized$)="addressAutocompleteInitialized($event)`  is triggered

[2018-02-14 15:21] AlBlanc commented on #245
Oh no ... I just realised I worked with an old release which implied to listen on initialisation. I should now use the argument passed to the `place_changed` event like this: `(place_changed)="placeChanged(newPlace)"`

[2018-02-14 15:21] #245 closed

[2018-02-14 15:31] AlBlanc commented on #245
Oh no... So... Yes I used an old release, the new one does need initialisation. But there is still the bug I talked about ! I reopen an issue now... Sorry for the mess! (I hope at least you had fun reading the thread)

[2018-02-14 15:32] AlBlanc opened #247 "I can't initialize a `google.maps.places.Autocomplete` twice"
See issue #245

[2018-02-14 18:28] aitboudad commented on #247
hi, can you provide a reproduction example so I can understand your case,
here is a starter example: https://stackblitz.com/edit/ng-map-starter

[2018-02-15 10:15] AlBlanc commented on #247
Hi @aitboudad,

I've just done this -> https://stackblitz.com/edit/ng-map-starter-idizoq

But I could not reproduce the bug. The issue should happen when you open twice the dialog, on the second time, the input does not have the place-auto-complete working.

I compared dependencies versions with my project and it is approximately the same... I come back to you once I find more details...

[2018-02-15 17:11] pablo-gonzalez commented on #134
Hi I am facing the same issue.

[https://plnkr.co/edit/2mgFh3MkwH5Q0aA8T7F8?p=preview](https://plnkr.co/edit/2mgFh3MkwH5Q0aA8T7F8?p=preview)

If you open de console you will see that onCircleInit event is logged.
The circle is editable however everytime you resize the circle the radius_changed event is not fired.

Thanks in advance,
Pablo

[2018-02-15 17:14] aitboudad commented on #134
@pablo-gonzalez can you try with `(radiusChanged)` instead

[2018-02-15 17:18] pablo-gonzalez commented on #134
It worked!

[https://developers.google.com/maps/documentation/javascript/3.exp/reference?#Circle](https://developers.google.com/maps/documentation/javascript/3.exp/reference?#Circle)

According to Google documentation the event is radius_changed. Are you using a different event name in your component or google doc is wrong?

[2018-02-15 17:35] aitboudad commented on #134
we use camel-case for event name if I'm not wrong, I'll check it later.

[2018-02-16 17:20] pablo-gonzalez commented on #134
Same for center_changed.

If that is the case, you should consider updating the documentation of this great component!

Thank you very much.

[2018-02-19 06:32] anuraggu commented on #129
Hi
how we draw dynamic polygon using angular 4 ?

[2018-02-19 13:14] iamchriswick commented on #87
Any solution to this?

severity: 'Error'
message: ''ngui-map' is not a known element:
1. If 'ngui-map' is an Angular component, then verify that it is part of this module.
2. If 'ngui-map' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.'
at: '1,1'
source: 'Angular'
code: 'undefined'

[2018-02-19 14:39] aitboudad commented on #87
ensure `Ng2MapModule` is imported in the module that your component is part of it.

[2018-02-19 17:20] becerriljc opened #249 "Add Cluster Marker"
hi!
I would like to suggest the include of clustered google to not mix the library of google maps and ngui-map.

Thanks and regards!

[2018-02-19 17:28] aitboudad commented on #249
not sure I understand what do you mean ? can you elaborate please.
there is an example of integration cluster marker with ngui-map see https://stackblitz.com/edit/angular-jbp2yc

[2018-02-28 10:02] jrsanchezalcala opened #250 "Modify gestures"
is posible to modify the gestures type?. in Javascript googlemaps ther are two modes cooperative and greedy.

[2018-03-15 11:01] anuraggu commented on #249
it is not working.

[2018-03-15 11:50] anuraggu commented on #249
please tell me how i show cluster and info window together. ?

[2018-03-24 16:31] shyamal890 commented on #130
+1 facing the same issue

[2018-03-24 21:29] elesueur commented on #174
geoFallbackCenter does not work for me. If I click Block when the browser asks me, I end up centered on some mountain in kazakhstan at zoom level 15 which is very confusing for users who click Block.

geoFallbackCenter is not a valid property on MapOptions either, so when I use the google maps typings, TypeScript complains if I try to set geoFallbackCenter.

[2018-03-25 09:34] shyamal890 commented on #176
+1

[2018-03-27 10:11] hoangngk commented on #206
@allenhwkim
Hi, I have the similar issue, I want my customized marker can rotate/turn as it is moving on the map. Can you please give some suggestions? The marker should work like Uber app. Thank you in advance.

[2018-03-29 04:46] naveendb92 opened #251 "Auto-Center based on Marker Positions"
How can I auto center or set zoom so that it covers all markers based on the positions of my markers.

[2018-04-01 17:29] hoangngk opened #252 "Custom marker hover issue"
Hi, as you can see, when hovering over the <marker> and <custom-marker>, the cursors are different. I was trying to add a class on <customer-marker> to change the cursor, but it did not work. Can you please help me?

[2018-04-01 17:37] hoangngk commented on #252
Sorry, my mistake with scss file. I made it work

[2018-04-01 17:37] #252 closed

[2018-04-06 17:55] fcpauldiaz opened #253 "How to override map size"
How can I override the map css in this [line](https://github.com/ng2-ui/map/blob/master/src/components/ngui-map.component.ts#L45)

[2018-04-06 18:10] allenhwkim commented on #253
`encapsulation: ViewEncapsulation.None,`
You can override it any time by making more specific from your component or external css.

[2018-04-06 18:37] #253 closed

[2018-04-09 15:59] VeteranCoder opened #254 "Unable to use a provider to supply signed API URL"
Hello,

This is more a request for information or help than a bug report, though it might end up being that.

I need to retrieve the (signed) API key from a provider on/after startup in Ionic 2 + Angular 5.  I do not see any way to do this.  The usage instructions state the API URL is supplied in app.module, and I don't see any way to use a provider property or function at that point to supply the

[2018-04-13 07:57] VlnRbn opened #255 "Is there a way to trigger click on marker programmatically, to open info window?"
Thanks for ngui-map, Currently using it in a project, The client want the info-window open on click of some button in the DOM.
Tried using the following to get reference of markers (used ngFor)
`@ViewChildren ('marker') markerRef : QueryList<google.maps.Marker>;`
[code]
The event obtained when actually clicking on marker, and triggering the above are different to run
`this.nguiMapComponent.openInf

[2018-04-17 02:41] hoangngk opened #256 "Custom Icons for polyline"
Hi, can you please help me display the custom icons on the polyline? Is it possible to display multiple icons along the polyline? Thank you in advance.

[2018-04-19 23:04] fcpauldiaz opened #257 "update marker icon"
Is it possible to update the marker icon after it is created?
[code]
[code]

and then somewhere else
[code]
I tried this but it didn't worked, is there a way?

[2018-04-20 02:27] allenhwkim commented on #257
Try this
[code]

[2018-04-20 15:07] fcpauldiaz commented on #257
it worked! Thank you very much @allenhwkim

[2018-04-20 15:07] #257 closed

[2018-04-20 17:04] fcpauldiaz opened #258 "Change default timeout"
https://github.com/ng2-ui/map/blob/1d8732ab2d404173aaeac0659f4fe3424ba9c3ac/src/services/navigator-geolocation.ts#L13

How can I change the timeout of the `geolocation.getPosition()` ?
I see there are `geoLocationOptions` but I couldn't find any constructor that send the options.

[2018-04-25 14:41] yuvarajnaga opened #259 "current location"
if I show my current location on map possible?

[2018-05-05 19:16] shyamal890 opened #260 "Upgrade to Rxjs 6"
Currently need to utilize rxjs-compat

[2018-05-08 06:55] BVSureshBabu opened #262 "Issue while reloading the tab TypeError: Cannot read property 'indexOf' of undefined at NgMapAsyncCallbackApiLoader.addGoogleMapsApi (map.es5.js:555)"
Hi,

In my current app I have used NGUI map for displaying maps. In this app I have 2 tabs. In th first tab I have used ngui map and second one is for profile. When I am reloading the map tab it is giving the below issue. Please help me on resolving this issue

core.js:1448 ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'indexOf' of undefined
TypeError: Cannot read property 'i

[2018-05-09 07:57] plamen-redzhov opened #263 "Unable to drag Custom marker"
I don't know if this is a bug, or a feature request, but currently I'm unable do drag a custom marker.

It seems that there is a missing 'draggable' input property in the Custom marker class.
`      <custom-marker position="Brampton, Canada" draggable="true">
        <div><b>Hi, there</b></div>
      </custom-marker>`

**Current behavior**
Does nothing

**Expected/desired behavior**
Should enable

[2018-05-11 14:40] Vicky443 opened #264 "has no exported member 'OpaqueToken'."
ERROR in node_modules/@ngui/map/dist/services/config.d.ts(1,10): error TS2305: Module '"/Users/../Desktop/test/angular-admin/node_modules/@angular/core/core"'
 has no exported member 'OpaqueToken'.

{
  "name": "pd-free-angularcli",
  "version": "1.0.1",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint"

[2018-05-15 06:34] shyamal890 commented on #262
Using Angular 6?

[2018-05-15 07:40] shyamal890 opened #265 "Angular 6: Cannot read property 'constructor' of undefined"
**Steps to reproduce and a minimal demo**
- Upgrading the application to Angular 6 causes this issue

**Error:**
[code]

[2018-05-15 07:41] shyamal890 commented on #265
@allenhwkim can you please have a look at this.

[2018-05-15 12:22] thomas-lack opened #266 "No event typeid_changed is emitted"
**Steps to reproduce and a minimal demo**

  - Add `ngui-map` element to a template, specify an event handler for the  `typeid_changed` event
  - Change the type of the map, e.g. from roadmap to satellite
  - [Plunker example](https://plnkr.co/edit/jc6gvOGdgG5Nhjy79OYh?p=preview), a fork of the plunker example from the @ngui/map readme with additions to `app.component.ts`.

**Current behavior**

[2018-05-16 06:38] BVSureshBabu commented on #262
Thanks for reply, I am using Angular 5.2

[2018-05-17 10:39] #265 closed

[2018-05-17 10:44] aitboudad commented on #265
here is a working example https://stackblitz.com/edit/ng6-map-starter, if you can provide a reproduction example I can take care of it.
Thanks!

[2018-05-17 10:47] aitboudad commented on #247
I can't reproduce it either.

[2018-05-17 10:47] #247 closed

[2018-05-17 10:49] aitboudad commented on #264
see https://github.com/ng2-ui/map/issues/234#issuecomment-352915709

[2018-05-17 10:49] #264 closed

[2018-05-17 10:51] aitboudad commented on #262
Hi can you please provide a reproduction example, here is a starter demo https://stackblitz.com/edit/ng6-map-starter.
Thanks!

[2018-05-17 10:53] aitboudad commented on #259
use [NavigatorGeolocation](https://github.com/ng2-ui/map/blob/master/src/services/navigator-geolocation.ts#L11) service to get the current location.

[2018-05-17 10:53] #259 closed

[2018-05-17 10:55] aitboudad commented on #254
the config provider is `NG_MAP_CONFIG_TOKEN`:

[code]

[2018-05-17 10:55] #254 closed

[2018-05-17 10:56] aitboudad commented on #243
Hi can you please provide a reproduction example, here is a starter [demo](https://stackblitz.com/edit/ng6-map-starter).
Thanks!

[2018-05-17 10:56] #243 closed

[2018-05-17 10:59] aitboudad commented on #258
just pass an object with `timeout` as an argument when calling `getCurrentPosition`:
[code]

[2018-05-17 10:59] #258 closed

[2018-05-17 11:00] #242 closed

[2018-05-17 11:12] #249 closed

[2018-05-17 11:13] #266 closed

[2018-05-17 11:15] aitboudad commented on #266
published a fix in `0.30.2`

[2018-05-18 10:28] #262 closed

[2018-05-21 00:09] ghost commented on #260
@aitboudad Hi! Sorry, when is it going to be released? The latest version in npm repository is `0.20.2`.

[2018-05-21 11:05] aitboudad commented on #260
@maxkorz done.

[2018-05-25 12:14] MihaiHoriaPopescu opened #269 "Normal search places on map, instead of autocomplete"
Hello,

mine is more a question instead of an issue.
I need to give the possibility to search some places, i figured out the autocomplete should be the right way, but cannot make it work with the places the autocomplete does not recommend. And if i use on the input a string i get an error since its not an autocomplete. I used the same code as the example [https://ng2-ui.github.io/map/#/places-auto

[2018-05-28 11:33] #269 closed, assigned to nobody

[2018-06-01 12:17] VlnRbn commented on #230
Hi,
`@ViewChild(DrawingManager) drawingManager: DrawingManager;`
In ngOnInit  `this.drawingManager['initialized$'].subscribe(dm => { ... }` im getting the error Cannot read property 'initialized$' of undefined.
Any help is appreciated
@becerriljc  Please reply if you have solved the issue

[2018-06-03 05:11] adskiremote commented on #122
Apologies for asking this I've tried but unable to see how to setOptions for the strokeColor.
Can anyone provide a brief instruction on how to access setOptions on the map?

[2018-06-05 07:49] VlnRbn commented on #230
Hey, I have reproduced the bug in stackblitz
It is because of using *ngIf
[https://stackblitz.com/edit/angular-ng2ui-drawingmanager-error](https://stackblitz.com/edit/angular-ng2ui-drawingmanager-error)

[2018-06-05 07:52] VlnRbn commented on #216
It is because of using *ngIf
https://stackblitz.com/edit/angular-ng2ui-drawingmanager-error

[2018-06-05 10:07] aitboudad commented on #230
you have to call the initialized part when `*ngIf` becomes true. for example:

[code]
or use a setter for `drawingManager` to know when exactly when it's available, similar to https://stackoverflow.com/questions/39366981/angular-2-viewchild-in-ngif.

[2018-06-05 10:07] #230 closed

[2018-06-05 13:09] VlnRbn commented on #230
Thanks for quick response,

this.selectedOverlay will remain undefined always. Please help me with the issue.

https://stackblitz.com/edit/angular-ng2ui-drawingmanager-error?file=src%2Fapp%2Fhello.component.ts

[2018-06-08 20:09] mbenedettini opened #271 "Question: how to set apiUrl after module init"
I'm retrieving my Google Maps key from server side (using a service), so I cannot call `NguiMapModule.forRoot()` with the right apiUrl from within my module imports.

How can that be accomplished? Something similar was asked in this issue https://github.com/ng2-ui/map/issues/242 where user wants to change the language but I cannot figure out how to set apiUrl once the module has been initialized.

[2018-06-09 11:58] aitboudad commented on #271
can try with:
[code]

[2018-06-09 18:48] mbenedettini commented on #271
It worked, thanks! I'm leaving some details about my implementation in case someone else comes across the same:

Here's my custom service which extends `NgMapAsyncCallbackApiLoader` introducing `changeUrl()`:
[code]

In my module I've added the following lines to the `providers` section:

[code]

And then I was able to change the url from within my component where ngmap is being used:

[code]

[2018-06-09 18:48] #271 closed, assigned to nobody

[2018-06-14 05:23] InsOpDe opened #272 "Circle directive breaks circle svg tag, need to NS your directives"
**IMPORTANT**

  StaticInjectorError(Platform: core)[Circle -> NguiMapComponent]:
    NullInjectorError: No provider for NguiMapComponent!

**Steps to reproduce and a minimal demo**
[demo](https://stackblitz.com/edit/ng6-map-starter-gazkhj?file=src/app/app.component.html)

  - just add a circle-svg element somewhere (even used namespacing i.e. `svg:circle`)

**Current behavior**

  - the map doesn

[2018-06-14 06:19] InsOpDe opened #273 "map-polygon doesnt listen for changes"
**IMPORTANT**
When adding paths to the member variable of the component, they wont show up on the dom.

**Steps to reproduce and a minimal demo**
[demo](https://stackblitz.com/edit/ng6-map-starter-gazkhj?file=src%2Fapp%2Fapp.component.ts)
  - taking the example from [https://ng2-ui.github.io/map/#/polygon](https://ng2-ui.github.io/map/#/polygon)
 - trying to add some more paths

**Current behavior

[2018-06-15 01:13] gregfrasco commented on #122
@adskiremote You can call setOptions by
[code]
If you do not have the map in ts you can pass it in via
[code]

[code]

[2018-06-19 05:45] InsOpDe commented on #273
as a workaround [demo](https://stackblitz.com/edit/ng6-map-starter-gazkhj?file=src%2Fapp%2Fapp.component.ts)

[2018-06-20 14:42] cemarte commented on #272
Any workaround for this issue? Mine was using NgNonBindable directive in the svg element, but it won't allow you to bind data to any child element.

[2018-06-22 12:09] mariamabarham opened #274 "StaticInjectorError(Platform: core)[Marker -> NguiMapComponent]:"
**IMPORTANT**
_Please be specific with an example. An issue with no example or unclear requirements may be closed._

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
  - _Plunker example_
  - _If you cannot reproduce an issue with a plunker example, it's your environmental issue_

**Current behavior**

  -

**Expected/desired behavior**

[2018-06-22 18:29] webcat12345 commented on #181
same issue here

[2018-07-01 21:48] j-Cis opened #275 "error TS2345"
I found an example of how to use a cluster that I really like(https://stackblitz.com/edit/angular-jbp2yc), but it only working in Stackblitz, when I tried to implement it, pop up ugly errors
the author of this example is: @aitboudad;

**Steps to reproduce**
on new project in Angular 6, I copied this example and just started it (after having installed the necessary items)

**My Errors**

[code]
I d

[2018-07-05 02:37] fatemamandsourwala opened #276 "Open info window doesn't work with <custom-marker>"
**IMPORTANT**
_Please be specific with an example. An issue with no example or unclear requirements may be closed._

**Steps to reproduce and a minimal demo**

  -html
<ngui-map class="mapbox" zoom="4" center="Alice Springs, Australia">
  <custom-marker *ngFor="let pos of positions" [position]="pos" (click)="showInfo($event)">
    <ion-icon class="custom-icon {{color}}"></ion-icon>
  </custom-mark

[2018-07-06 14:28] plamen-redzhov commented on #104
@aitboudad The proposed solution unfortunately only works for standard Markers. Custom markers cannot be put in clusters. I've tried to find a way to implement the missing methods mentioned [here](https://stackoverflow.com/questions/8297456/google-maps-v3-clustering-with-custom-markers), but I've failed. Any input on the matter would be appreciated.

[2018-07-11 08:39] ruchirai90 opened #278 "Error handling, how to catch exception on all the ng2 components(ng-map etc ) that I am using."
**IMPORTANT**
_Please be specific with an example. An issue with no example or unclear requirements may be closed._

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
  - _Plunker example_
  - _If you cannot reproduce an issue with a plunker example, it's your environmental issue_

**Current behavior**

  -

**Expected/desired behavior**

[2018-07-13 09:51] plamen-redzhov commented on #276
You're passing an event to showInfo function, which holds the actual DOM element as target. This element does not have a getPosition method, nor has a nguiMapComponent property.
Use the initialized$ event of the custom marker to create an array of markers, and then pass the corresponding custom marker to the openInfoWindow function. E.g.
HTML:
`      <custom-marker
        *ngFor="let pos of posit

[2018-07-17 19:38] carand315 opened #279 "Marker Clustering"
How can I implement a clustering feature?
https://developers.google.com/maps/documentation/javascript/marker-clustering

[2018-07-17 19:44] aitboudad commented on #279
see https://github.com/ng2-ui/map/issues/104#issuecomment-355982196

[2018-07-17 19:44] #279 closed, assigned to nobody

[2018-07-21 11:18] TdoubleG commented on #174
The error is still present. Any suggestions?

[2018-07-25 15:52] Zophiel opened #281 "Marker Limit? - Error finding location for ..."
I have a list of locations that I want to make markers for. My test data is 16 identical GPS locations.
Now i'm getting 5 Error finding location for ... of the 16 markers.

Is there a limit on markers or a limit on identical markers?

**Steps to reproduce and a minimal demo**

Loop through a list of identical data, generate markers in html
[code]

**Current behavior**

throws errors after the 11th

[2018-07-25 21:06] becerriljc opened #282 "For development purposes only"
Hi, excuse me, in the examples appear this message:

![appear](https://user-images.githubusercontent.com/24251698/43227557-a0ef2cae-9024-11e8-97e4-b7ae547477c2.png)

[2018-07-28 12:00] monikagupta78 opened #283 "How to achieve navigation for a given route?"
After displaying the route using this library, i would need to add navigation feature for that route. Need some inputs.

[2018-08-15 17:27] andreipaz commented on #275
Maybe the stackblitz compiler is not so strict as in ng cli.
Did you try to just ".toString()" the value?

[2018-08-28 18:44] aloketewary commented on #282
Because the developer does not use any google map API key.

[2018-08-28 19:59] #282 closed, assigned to nobody

[2018-08-28 21:14] redmission84 commented on #271
@mbenedettini I can't thank you enough for this! Worked perfectly.  I was struggling as we have seperate keys for our dev environments to run in localhost and prod, and wanted to load the API key from a config file. You saved me. :)

[2018-08-29 17:11] aloketewary commented on #281
can you make a stackblitz repo for this issue.

[2018-08-29 20:59] allenhwkim commented on #281
FYI, Google maps api does not allow consecutive number of geo lookup call.
Thus, provide exact lat/lng instead of address for position.

[2018-08-30 03:59] aloketewary commented on #49
I think now you can start development into this.

[2018-09-03 18:18] g-schmitz commented on #176
You can use the `.gm-style .gm-style-iw` class and its children for styling InfoWindow.
But be careful **not to put this CSS into the component's CSS file** in which the map itself is used.
That didnt work at all for me. Instead, use the general style.css (in case you are using angular cli).

[2018-09-05 10:16] t-zander commented on #272
It also happens with polygon tag

[2018-09-06 02:30] allenhwkim commented on #272
Please use ngNonBindable
[code]

[2018-09-24 09:38] Abdul993 opened #284 "How to only refresh the markers on map without refreshing the whole map..?"
**IMPORTANT**
_Please be specific with an example. An issue with no example or unclear requirements may be closed._

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
  - _Plunker example_
  - _If you cannot reproduce an issue with a plunker example, it's your environmental issue_

**Current behavior**

  -

**Expected/desired behavior**

[2018-10-04 20:00] Dinosaurleg commented on #251
You can make use of the `fitBounds()` method: https://developers.google.com/maps/documentation/javascript/reference/map#Map.fitBounds

You could iterate through your markers and call their `getPosition()` method and extend a LatLngBounds object: https://developers.google.com/maps/documentation/javascript/reference/coordinates#LatLngBounds

[2018-10-12 22:32] inzi commented on #271
I'm new to this - do you have a get repo with this in it I could look at?

This is very similar to what I'm trying to accomplish.

Thanks in advance.

[2018-10-13 16:51] mbenedettini commented on #271
@inzi sorry, I have it in a private project. I can give you some more insights:

+ The first snippet is a new service you need to introduce into your app. This service will later be used in your component where you want to use ng2-ui/map .
+ The 2nd snippet is what I had to add in the providers section of my module
+ Finally, the 3rd snippet shows how to change the api url by calling `mapApiLoader

[2018-10-14 04:37] inzi commented on #271
Thank you for the kind offer.

I inherited an angular2 project I am trying to maintain, and I keep having to rebuild and deploy every time a different api key is used, so I feel your pain. I'm still learning about bootstrapping my app using a root module, etc.

So I guess a first question is if this is even possible with Angular2, or must I convert this to an Angular 6 project, first?  If this isn

[2018-10-14 15:16] mbenedettini commented on #271
You're going to have to convert it to Angular 6 sooner or later. I'd rather do it as soon as possible.